/* line 1, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/_shared.sass */
body, footer, ol, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

/* line 4, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/_shared.sass */
body, footer, ol, ul {
  padding: 0; }

/* line 5, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
a {
  text-decoration: underline;
  color: #0a4380; }
  /* line 8, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
  a:hover {
    text-decoration: none; }

/* line 11, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
body {
  font-size: 1em;
  background: url("../images/background.jpg"); }

/* line 16, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #e3e3e3;
  padding: 10px 0;
  font-size: 0.75em; }

/* line 27, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
html {
  font-family: "proxima-nova", Helvetica, Arial, "Lucida Grande", sans-serif; }

/* line 34, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
p, ol, ul {
  line-height: 1.5em;
  color: #3d3938; }

/* line 41, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
h1 {
  font-size: 2.25em; }

/* line 44, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
h2 {
  font-size: 1.875em;
  line-height: 30px;
  color: #ab3822; }

/* line 49, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
h3 {
  font-size: 1.5em;
  color: #0a4380; }

/* line 53, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
h4 {
  font-size: 1em; }

/* line 56, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
ul {
  list-style: none; }

/* line 63, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
.answer {
  text-align: left; }

/* line 67, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
.answer-header {
  margin: 30px auto;
  padding: 20px 0;
  font-weight: bold;
  border-bottom: 1px solid #94a0ac;
  border-top: 1px solid #94a0ac; }

/* line 73, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
.content {
  padding: 0 20px 50px 0; }

/* line 77, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
.grid-headshot img, .grid-headshot-small img {
  width: 175px;
  margin: 0 auto;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

/* line 85, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
.grid-headshot-small img {
  width: 100px; }

/* line 88, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
.grid-summary, .grid-summary-small {
  margin: 15px 0; }
  /* line 90, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
  .grid-summary div, .grid-summary-small div {
    margin: 5px 0; }

/* line 96, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
.nav-main, .nav-sub {
  text-align: center; }
  /* line 98, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
  .nav-main a, .nav-sub a {
    color: #fbfbeb;
    margin: 0 7px; }

/* line 102, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
.nav-sub {
  margin: 30px 0 0 0; }
  /* line 105, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
  .nav-sub a {
    color: #0a4380; }

/* line 110, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
.people li {
  width: 100%;
  margin: 0 0 40px 0; }

/* line 114, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
.people-team {
  page-break-before: always; }
  /* line 116, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
  .people-team h2 {
    text-align: center;
    margin: 30px 0;
    padding: 20px 0;
    border-bottom: 1px solid #94a0ac;
    border-top: 1px solid #94a0ac; }

/* line 122, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
.questions-list {
  margin: 40px 0;
  padding: 0 5%; }
  /* line 125, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
  .questions-list li {
    margin: 5px 0; }

/* line 128, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
.questions-totals {
  text-align: center;
  font-weight: bold; }

/* line 132, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
.questions-results {
  margin: 50px 0; }
  /* line 134, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
  .questions-results h2 {
    margin: 100px 0 25px 0;
    text-align: center; }
  /* line 137, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
  .questions-results h3 {
    text-align: center; }
  /* line 139, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
  .questions-results h4 {
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    margin: 20px 0 0 0; }
  /* line 146, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
  .questions-results li {
    margin: 0 0 20px 0; }

/* line 149, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
.summary {
  text-align: center; }
  /* line 152, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
  .summary li {
    margin: 15px 0; }

/* line 155, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
.title {
  text-align: center; }

/* line 158, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
.title-background {
  width: 100%;
  padding: 40px 0;
  background: #ab3822;
  color: #fbfbeb; }

/* line 164, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
.group:before, .answer:before, .people:before, .questions-results ul:before, .summary:before, .group:after, .answer:after, .people:after, .questions-results ul:after, .summary:after {
  display: table;
  content: ""; }

/* line 168, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
.group:after, .answer:after, .people:after, .questions-results ul:after, .summary:after {
  clear: both; }

/* line 171, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/styles.sass */
.group, .answer, .people, .questions-results ul, .summary {
  *zoom: 1; }

@media all and (min-width: 410px) {
  /* line 4, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/_media-410.sass */
  .nav-main li, .nav-sub li {
    display: inline-block; } }
@media all and (min-width: 600px) {
  /* line 2, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/_media-600.sass */
  body {
    font-size: 1.125em; }

  /* line 5, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/_media-600.sass */
  .answer {
    text-align: left; }

  /* line 8, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/_media-600.sass */
  .grid-headshot, .grid-headshot-small {
    margin: 20px 5%;
    width: 25%;
    float: left; }

  /* line 13, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/_media-600.sass */
  .grid-headshot-small {
    width: 10%; }

  /* line 17, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/_media-600.sass */
  .grid-summary, .grid-summary-small {
    float: left;
    margin: 0 5%;
    width: 55%; }

  /* line 22, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/_media-600.sass */
  .grid-summary-small {
    width: 70%; }

  /* line 27, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/_media-600.sass */
  .questions-results h4 {
    text-align: left; }

  /* line 30, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/_media-600.sass */
  .summary {
    margin: 20px auto;
    text-align: left; } }
@media all and (min-width: 768px) {
  /* line 3, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/_media-768.sass */
  .title-background, .title, .content {
    margin: 0 auto; }

  /* line 6, /Users/dankim/Dropbox/Web/github/honcho/haml-sass/sass/_media-768.sass */
  .title, .content {
    max-width: 670px; } }
