.summary
  .grid-headshot
    %img{src: "#{data.amyrivera.image}"}
  .grid-summary
    %h3
      %a{href: "amy-rivera.html"}=data.amyrivera.name
    %div
      %strong Title:
      =data.amyrivera.title
    %div
      %strong Birthday:
      =data.amyrivera.birthday
    %div
      %strong Start Date:
      =data.amyrivera.start_date
    %div
      %strong Salary:
      =data.amyrivera.salary
    %div
      %strong Address:
      =data.amyrivera.address
    %div
      %strong Email:
      =data.amyrivera.email
    %div
      %strong Phone:
      =data.amyrivera.phone
    %div
      %strong Family:
      =data.amyrivera.family
    %div
      %strong Summary:
      =data.amyrivera.summary