.summary
  .grid-headshot
    %img{src: "#{data.andrewwong.image}"}
  .grid-summary
    %h3
      %a{href: "andrew-wong.html"}=data.andrewwong.name
    %div
      %strong Title:
      =data.andrewwong.title
    %div
      %strong Birthday:
      =data.andrewwong.birthday
    %div
      %strong Start Date:
      =data.andrewwong.start_date
    %div
      %strong Salary:
      =data.andrewwong.salary
    %div
      %strong Address:
      =data.andrewwong.address
    %div
      %strong Email:
      =data.andrewwong.email
    %div
      %strong Phone:
      =data.andrewwong.phone
    %div
      %strong Family:
      =data.andrewwong.family
    %div
      %strong Summary:
      =data.andrewwong.summary
