.summary
  .grid-headshot
    %img{src: "#{data.angelawilliams.image}"}
  .grid-summary
    %h3
      %a{href: "angela-williams.html"}=data.angelawilliams.name
    %div
      %strong Title:
      =data.angelawilliams.title
    %div
      %strong Birthday:
      =data.angelawilliams.birthday
    %div
      %strong Start Date:
      =data.angelawilliams.start_date
    %div
      %strong Salary:
      =data.angelawilliams.salar
    %div
      %strong Address:
      =data.angelawilliams.address
    %div
      %strong Email:
      =data.angelawilliams.email
    %div
      %strong Phone:
      =data.angelawilliams.phones
    %div
      %strong Family:
      =data.angelawilliams.family
    %div
      %strong Summary:
      =data.angelawilliams.summary