.summary
  .grid-headshot
    %img{src: "#{data.annbryan.image}"}
  .grid-summary
    %h3
      %a{href: "ann-bryan.html"}=data.annbryan.name
    %div
      %strong Title:
      =data.annbryan.title
    %div
      %strong Birthday:
      =data.annbryan.birthday
    %div
      %strong Start Date:
      =data.annbryan.start_date
    %div
      %strong Salary:
      =data.annbryan.salary
    %div
      %strong Address:
      =data.annbryan.address
    %div
      %strong Email:
      =data.annbryan.email
    %div
      %strong Phone:
      =data.annbryan.phone
    %div
      %strong Family:
      =data.annbryan.family
    %div
      %strong Summary:
      =data.annbryan.summary