.summary
  .grid-headshot
    %img{src: "#{data.brianjenks.image}"}
  .grid-summary
    %h3
      %a{href: "brian-jenks.html"}=data.brianjenks.name
    %div
      %strong Title:
      =data.brianjenks.title
    %div
      %strong Birthday:
      =data.brianjenks.birthday
    %div
      %strong Start Date:
      =data.brianjenks.start_date
    %div
      %strong Salary:
      =data.brianjenks.salary
    %div
      %strong Address:
      =data.brianjenks.address
    %div
      %strong Email:
      =data.brianjenks.email
    %div
      %strong Phone:
      =data.brianjenks.phone
    %div
      %strong Family:
      =data.brianjenks.family
    %div
      %strong Summary:
      =data.brianjenks.summary