.summary
  .grid-headshot
    %img{src: "#{data.carrieross.image}"}
  .grid-summary
    %h3
      %a{href: "carrie-ross.html"}=data.carrieross.name
    %div
      %strong Title:
      =data.carrieross.title
    %div
      %strong Birthday:
      =data.carrieross.birthday
    %div
      %strong Start Date:
      =data.carrieross.start_date
    %div
      %strong Salary:
      =data.carrieross.salary
    %div
      %strong Address:
      =data.carrieross.address
    %div
      %strong Email:
      =data.carrieross.email
    %div
      %strong Phone:
      =data.carrieross.phone
    %div
      %strong Family:
      =data.carrieross.family
    %div
      %strong Summary:
      =data.carrieross.summary