.summary
  .grid-headshot
    %img{src: "#{data.charleskoga.image}"}
  .grid-summary
    %h3
      %a{href: "charles-koga.html"}=data.charleskoga.name
    %div
      %strong Title:
      =data.charleskoga.title
    %div
      %strong Birthday:
      =data.charleskoga.birthday
    %div
      %strong Start Date:
      =data.charleskoga.start_date
    %div
      %strong Salary:
      =data.charleskoga.salary
    %div
      %strong Address:
      =data.charleskoga.address
    %div
      %strong Email:
      =data.charleskoga.email
    %div
      %strong Phone:
      =data.charleskoga.phone
    %div
      %strong Family:
      =data.charleskoga.family
    %div
      %strong Summary:
      =data.charleskoga.summary