.summary
  .grid-headshot
    %img{src: "#{data.cherylwalters.image}"}
  .grid-summary
    %h3
      %a{href: "cheryl-walters.html"}=data.cherylwalters.name
    %div
      %strong Title:
      =data.cherylwalters.title
    %div
      %strong Birthday:
      =data.cherylwalters.birthday
    %div
      %strong Start Date:
      =data.cherylwalters.start_date
    %div
      %strong Salary:
      =data.cherylwalters.salary
    %div
      %strong Address:
      =data.cherylwalters.address
    %div
      %strong Email:
      =data.cherylwalters.email
    %div
      %strong Phone:
      =data.cherylwalters.phone
    %div
      %strong Family:
      =data.cherylwalters.family
    %div
      %strong Summary:
      =data.cherylwalters.summary