%head
  %title 1917 Design
  %meta{charset: "UTF-8"}
  %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
  %link{href: "stylesheets/styles.css", rel: "stylesheet"}
  %link{href: "images/favicon.ico", rel: "shortcut icon"}
  %script{type: "text/javascript", src: "//use.typekit.net/xla8eyn.js"}
  %script{type: "text/javascript"}
    try{Typekit.load();}catch(e){}