%header#top
  .title-background
    .title
      %h1
        1917 Design
    %nav.nav-main
      %ul
        %li
          %a{href: "index.html"}People
        %li
          %a{href: "questions.html"}Questions