.summary
  .grid-headshot
    %img{src: "#{data.jareddavis.image}"}
  .grid-summary
    %h3
      %a{href: "jared-davis.html"}=data.jareddavis.name
    %div
      %strong Title:
      =data.jareddavis.title
    %div
      %strong Birthday:
      =data.jareddavis.birthday
    %div
      %strong Start Date:
      =data.jareddavis.start_date
    %div
      %strong Salary:
      =data.jareddavis.salary
    %div
      %strong Address:
      =data.jareddavis.address
    %div
      %strong Email:
      =data.jareddavis.email
    %div
      %strong Phone:
      =data.jareddavis.phone
    %div
      %strong Family:
      =data.jareddavis.family
    %div
      %strong Summary:
      =data.jareddavis.summary