.summary
  .grid-headshot
    %img{src: "#{data.jasonedmonds.image}"}
  .grid-summary
    %h3
      %a{href: "jason-edmonds.html"}=data.jasonedmonds.name
    %div
      %strong Title:
      =data.jasonedmonds.title
    %div
      %strong Birthday:
      =data.jasonedmonds.birthday
    %div
      %strong Start Date:
      =data.jasonedmonds.start_date
    %div
      %strong Salary:
      =data.jasonedmonds.salary
    %div
      %strong Address:
      =data.jasonedmonds.address
    %div
      %strong Email:
      =data.jasonedmonds.email
    %div
      %strong Phone:
      =data.jasonedmonds.phone
    %div
      %strong Family:
      =data.jasonedmonds.family
    %div
      %strong Summary:
      =data.jasonedmonds.summary