.summary
  .grid-headshot
    %img{src: "#{data.jenniferyoung.image}"}
  .grid-summary
    %h3
      %a{href: "jennifer-young.html"}=data.jenniferyoung.name
    %div
      %strong Title:
      =data.jenniferyoung.title
    %div
      %strong Birthday:
      =data.jenniferyoung.birthday
    %div
      %strong Start Date:
      =data.jenniferyoung.start_date
    %div
      %strong Salary:
      =data.jenniferyoung.salary
    %div
      %strong Address:
      =data.jenniferyoung.address
    %div
      %strong Email:
      =data.jenniferyoung.email
    %div
      %strong Phone:
      =data.jenniferyoung.phone
    %div
      %strong Family:
      =data.jenniferyoung.family
    %div
      %strong Summary:
      =data.jenniferyoung.summary
