.summary
  .grid-headshot
    %img{src: "#{data.jerrygibson.image}"}
  .grid-summary
    %h3
      %a{href: "jerry-gibson.html"}=data.jerrygibson.name
    %div
      %strong Title:
      =data.jerrygibson.title
    %div
      %strong Birthday:
      =data.jerrygibson.birthday
    %div
      %strong Start Date:
      =data.jerrygibson.start_date
    %div
      %strong Salary:
      =data.jerrygibson.salary
    %div
      %strong Address:
      =data.jerrygibson.address
    %div
      %strong Email:
      =data.jerrygibson.email
    %div
      %strong Phone:
      =data.jerrygibson.phone
    %div
      %strong Family:
      =data.jerrygibson.family
    %div
      %strong Summary:
      =data.jerrygibson.summary
