.summary
  .grid-headshot
    %img{src: "#{data.joshfiske.image}"}
  .grid-summary
    %h3
      %a{href: "josh-fiske.html"}=data.joshfiske.name
    %div
      %strong Title:
      =data.joshfiske.title
    %div
      %strong Birthday:
      =data.joshfiske.birthday
    %div
      %strong Start Date:
      =data.joshfiske.start_date
    %div
      %strong Salary:
      =data.joshfiske.salary
    %div
      %strong Address:
      =data.joshfiske.address
    %div
      %strong Email:
      =data.joshfiske.email
    %div
      %strong Phone:
      =data.joshfiske.phone
    %div
      %strong Family:
      =data.joshfiske.family
    %div
      %strong Summary:
      =data.joshfiske.summary