.summary
  .grid-headshot
    %img{src: "#{data.juliekim.image}"}
  .grid-summary
    %h3
      %a{href: "julie-kim.html"}=data.juliekim.name
    %div
      %strong Title:
      =data.juliekim.title
    %div
      %strong Birthday:
      =data.juliekim.birthday
    %div
      %strong Start Date:
      =data.juliekim.start_date
    %div
      %strong Salary:
      =data.juliekim.salary
    %div
      %strong Address:
      =data.juliekim.address
    %div
      %strong Email:
      =data.juliekim.email
    %div
      %strong Phone:
      =data.juliekim.phone
    %div
      %strong Family:
      =data.juliekim.family
    %div
      %strong Summary:
      =data.juliekim.summary