.summary
  .grid-headshot
    %img{src: "#{data.kurtnightingale.image}"}
  .grid-summary
    %h3
      %a{href: "kurt-nightingale.html"}=data.kurtnightingale.name
    %div
      %strong Title:
      =data.kurtnightingale.title
    %div
      %strong Birthday:
      =data.kurtnightingale.birthday
    %div
      %strong Start Date:
      =data.kurtnightingale.start_date
    %div
      %strong Salary:
      =data.kurtnightingale.salary
    %div
      %strong Address:
      =data.kurtnightingale.address
    %div
      %strong Email:
      =data.kurtnightingale.email
    %div
      %strong Phone:
      =data.kurtnightingale.phone
    %div
      %strong Family:
      =data.kurtnightingale.family
    %div
      %strong Summary:
      =data.kurtnightingale.summary