.summary
  .grid-headshot
    %img{src: "#{data.lilliemckenzie.image}"}
  .grid-summary
    %h3
      %a{href: "lillie-mckenzie.html"}=data.lilliemckenzie.name
    %div
      %strong Title:
      =data.lilliemckenzie.title
    %div
      %strong Birthday:
      =data.lilliemckenzie.birthday
    %div
      %strong Start Date:
      =data.lilliemckenzie.start_date
    %div
      %strong Salary:
      =data.lilliemckenzie.salary
    %div
      %strong Address:
      =data.lilliemckenzie.address
    %div
      %strong Email:
      =data.lilliemckenzie.email
    %div
      %strong Phone:
      =data.lilliemckenzie.phone
    %div
      %strong Family:
      =data.lilliemckenzie.family
    %div
      %strong Summary:
      =data.lilliemckenzie.summary
