.summary
  .grid-headshot
    %img{src: "#{data.markcampbell.image}"}
  .grid-summary
    %h3
      %a{href: "mark-campbell.html"}=data.markcampbell.name
    %div
      %strong Title:
      =data.markcampbell.title
    %div
      %strong Birthday:
      =data.markcampbell.birthday
    %div
      %strong Start Date:
      =data.markcampbell.start_date
    %div
      %strong Salary:
      =data.markcampbell.salary
    %div
      %strong Address:
      =data.markcampbell.address
    %div
      %strong Email:
      =data.markcampbell.email
    %div
      %strong Phone:
      =data.markcampbell.phone
    %div
      %strong Family:
      =data.markcampbell.family
    %div
      %strong Summary:
      =data.markcampbell.summary