.summary
  .grid-headshot
    %img{src: "#{data.mattdonahue.image}"}
  .grid-summary
    %h3
      %a{href: "matt-donahue.html"}=data.mattdonahue.name
    %div
      %strong Title:
      =data.mattdonahue.title
    %div
      %strong Birthday:
      =data.mattdonahue.birthday
    %div
      %strong Start Date:
      =data.mattdonahue.start_date
    %div
      %strong Salary:
      =data.mattdonahue.salary
    %div
      %strong Address:
      =data.mattdonahue.address
    %div
      %strong Email:
      =data.mattdonahue.email
    %div
      %strong Phone:
      =data.mattdonahue.phone
    %div
      %strong Family:
      =data.mattdonahue.family
    %div
      %strong Summary:
      =data.mattdonahue.summary