.summary
  .grid-headshot
    %img{src: "#{data.nicolekatz.image}"}
  .grid-summary
    %h3
      %a{href: "nicole-katz.html"}=data.nicolekatz.name
    %div
      %strong Title:
      =data.nicolekatz.title
    %div
      %strong Birthday:
      =data.nicolekatz.birthday
    %div
      %strong Start Date:
      =data.nicolekatz.start_date
    %div
      %strong Salary:
      =data.nicolekatz.salary
    %div
      %strong Address:
      =data.nicolekatz.address
    %div
      %strong Email:
      =data.nicolekatz.email
    %div
      %strong Phone:
      =data.nicolekatz.phone
    %div
      %strong Family:
      =data.nicolekatz.family
    %div
      %strong Summary:
      =data.nicolekatz.summary