.summary
  .grid-headshot
    %img{src: "#{yaml.image}"}
  .grid-summary
    %h3
      %a{href: "#{yaml.url}"}=yaml.name
    %div
      %strong Title:
      =yaml.title
    %div
      %strong Birthday:
      =yaml.birthday
    %div
      %strong Start Date:
      =yaml.start_date
    %div
      %strong Salary:
      =yaml.salary
    %div
      %strong Address:
      =yaml.address
    %div
      %strong Email:
      =yaml.email
    %div
      %strong Phone:
      =yaml.phone
    %div
      %strong Family:
      =yaml.family
    %div
      %strong Summary:
      =yaml.summary