.summary
  .grid-headshot
    %img{src: "#{data.scottmarsh.image}"}
  .grid-summary
    %h3
      %a{href: "scott-marsh.html"}=data.scottmarsh.name
    %div
      %strong Title:
      =data.scottmarsh.title
    %div
      %strong Birthday:
      =data.scottmarsh.birthday
    %div
      %strong Start Date:
      =data.scottmarsh.start_date
    %div
      %strong Salary:
      =data.scottmarsh.salary
    %div
      %strong Address:
      =data.scottmarsh.address
    %div
      %strong Email:
      =data.scottmarsh.email
    %div
      %strong Phone:
      =data.scottmarsh.phone
    %div
      %strong Family:
      =data.scottmarsh.family
    %div
      %strong Summary:
      =data.scottmarsh.summary