.summary
  .grid-headshot
    %img{src: "#{data.sharonbradford.image}"}
  .grid-summary
    %h3
      %a{href: "sharon-bradford.html"}=data.sharonbradford.name
    %div
      %strong Title:
      =data.sharonbradford.title
    %div
      %strong Birthday:
      =data.sharonbradford.birthday
    %div
      %strong Start Date:
      =data.sharonbradford.start_date
    %div
      %strong Salary:
      =data.sharonbradford.salary
    %div
      %strong Address:
      =data.sharonbradford.address
    %div
      %strong Email:
      =data.sharonbradford.email
    %div
      %strong Phone:
      =data.sharonbradford.phone
    %div
      %strong Family:
      =data.sharonbradford.family
    %div
      %strong Summary:
      =data.sharonbradford.summary