.summary
  .grid-headshot
    %img{src: "#{data.tashiahughes.image}"}
  .grid-summary
    %h3
      %a{href: "tashia-hughes.html"}=data.tashiahughes.name
    %div
      %strong Title:
      =data.tashiahughes.title
    %div
      %strong Birthday:
      =data.tashiahughes.birthday
    %div
      %strong Start Date:
      =data.tashiahughes.start_date
    %div
      %strong Salary:
      =data.tashiahughes.salary
    %div
      %strong Address:
      =data.tashiahughes.address
    %div
      %strong Email:
      =data.tashiahughes.email
    %div
      %strong Phone:
      =data.tashiahughes.phone
    %div
      %strong Family:
      =data.tashiahughes.family
    %div
      %strong Summary:
      =data.tashiahughes.summary