.summary
  .grid-headshot
    %img{src: "#{data.timscott.image}"}
  .grid-summary
    %h3
      %a{href: "tim-scott.html"}=data.timscott.name
    %div
      %strong Title:
      =data.timscott.title
    %div
      %strong Birthday:
      =data.timscott.birthday
    %div
      %strong Start Date:
      =data.timscott.start_date
    %div
      %strong Salary:
      =data.timscott.salary
    %div
      %strong Address:
      =data.timscott.address
    %div
      %strong Email:
      =data.timscott.email
    %div
      %strong Phone:
      =data.timscott.phone
    %div
      %strong Family:
      =data.timscott.family
    %div
      %strong Summary:
      =data.timscott.summary