.summary
  .grid-headshot
    %img{src: "#{data.victorcooper.image}"}
  .grid-summary
    %h3
      %a{href: "victor-cooper.html"}=data.victorcooper.name
    %div
      %strong Title:
      =data.victorcooper.title
    %div
      %strong Birthday:
      =data.victorcooper.birthday
    %div
      %strong Start Date:
      =data.victorcooper.start_date
    %div
      %strong Salary:
      =data.victorcooper.salary
    %div
      %strong Address:
      =data.victorcooper.address
    %div
      %strong Email:
      =data.victorcooper.email
    %div
      %strong Phone:
      =data.victorcooper.phone
    %div
      %strong Family:
      =data.victorcooper.family
    %div
      %strong Summary:
      =data.victorcooper.summary