.summary
  .grid-headshot
    %img{src: "#{data.zachsettles.image}"}
  .grid-summary
    %h3
      %a{href: "zach-settles.html"}=data.zachsettles.name
    %div
      %strong Title:
      =data.zachsettles.title
    %div
      %strong Birthday:
      =data.zachsettles.birthday
    %div
      %strong Start Date:
      =data.zachsettles.start_date
    %div
      %strong Salary:
      =data.zachsettles.salary
    %div
      %strong Address:
      =data.zachsettles.address
    %div
      %strong Email:
      =data.zachsettles.email
    %div
      %strong Phone:
      =data.zachsettles.phone
    %div
      %strong Family:
      =data.zachsettles.family
    %div
      %strong Summary:
      =data.zachsettles.summary
