!!!
%html
  %head
    %title 1917 Design - About
    %meta{charset: "UTF-8"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %link{href: "css/styles.css", rel: "stylesheet"}
    %link{href: "images/favicon.ico", rel: "shortcut icon"}
    %script{type: "text/javascript", src: "//use.typekit.net/xla8eyn.js"}
    %script{type: "text/javascript"}
      try{Typekit.load();}catch(e){}
  %body
    .container
      %header
        .title-background
          .title
            %h1
              1917 Design
          %nav
            %ul
              %li
                %a{href: "index.html"}People
              %li
                %a{href: "questions.html"}Questions
              %li
                %a{href: "about.html"}About
      .content
        %h2
          About
        %p.description
          1917 Design is a creative and technology agency in Chicago. We're a small company of 25 tightly-knit people that care about each other first, and our work a close second.
        %p.description
          We love our clients, and they love us back. That's because we value honesty and hard work. That helps us turn a healthy profit so that we can invest in the best people around the world.
        %p.description
          You'll never hear us say "end-to-end solutions" or "laser-focused commitmment", because normal people don't talk like that. You're more likely to hear us say "awesome work" and "incredibly proud".
        %p.description
          Ever heard such honesty from an agency before?