!!!
%html
  %head
    %title 1917 Design - People
    %meta{charset: "UTF-8"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %link{href: "css/styles.css", rel: "stylesheet"}
    %link{href: "images/favicon.ico", rel: "shortcut icon"}
    %script{type: "text/javascript", src: "//use.typekit.net/xla8eyn.js"}
    %script{type: "text/javascript"}
      try{Typekit.load();}catch(e){}
  %body
    %header#top
      .title-background
        .title
          %h1
            1917 Design
        %nav.nav-main
          %ul
            %li
              %a{href: "index.html"}People
            %li
              %a{href: "questions.html"}Questions
    .content
      %nav.nav-sub
        %ul
          %li
            %a{href: "#executive-team"}Executive Team
          %li
            %a{href: "#operations"}Operations
          %li
            %a{href: "#client-services"}Client Services
          %li
            %a{href: "#design"}Design
          %li
            %a{href: "#strategy"}Strategy
          %li
            %a{href: "#technology"}Technology
      .people-team
        %h2#executive-team
          Executive Team
        %ul.people
          %li#victor-cooper
            .summary
              .grid-headshot
                %img{alt: "Victor Cooper", src: "images/people/victor-cooper.jpg"}
              .grid-summary
                %h3 Victor Cooper
                %div
                  %strong Title:
                  President and CEO
                %div
                  %strong Birthday:
                  1/18/71 (42)
                %div
                  %strong Start Date:
                  4/2/03
                %div
                  %strong Salary:
                  $350,000
                %div
                  %strong Summary:
                  Eccentric. Changes his mind a lot.
                %div
                  %strong Communications:
                  Brief.
          %li#jennifer-young
            .summary
              .grid-headshot
                %img{alt: "Jennifer Young", src: "images/people/jennifer-young.jpg"}
              .grid-summary
                %h3 Jennifer Young
                %div
                  %strong Title:
                  VP, Operations
                %div
                  %strong Birthday:
                  7/1/73 (40)
                %div
                  %strong Start Date:
                  4/2/03
                %div
                  %strong Salary:
                  $250,000
                %div
                  %strong Summary:
                  Super-friendly. Positive outlook. Caters to clients above all. Well-liked.
                %div
                  %strong Communications:
                  Thorough and professional.
      .people-team
        %h2#operations
          Operations
        %ul.people
          %li#jerry-gibson
            .summary
              .grid-headshot
                %img{alt: "Jerry Gibson", src: "images/people/jerry-gibson.jpg"}
              .grid-summary
                %h3 Jerry Gibson
                %div
                  %strong Title:
                  Director of Operations
                %div
                  %strong Birthday:
                  2/2/77 (36)
                %div
                  %strong Start Date:
                  8/15/06
                %div
                  %strong Salary:
                  $150,000
                %div
                  %strong Summary:
                  Tactical mastermind. Peacemaker. Risk-averse. A little robotic.
                %div
                  %strong Communications:
                  Thorough and professional, but verbose and lots of CYA.
          %li#cheryl-walters
            .summary
              .grid-headshot
                %img{alt: "Cheryl Walters", src: "images/people/cheryl-walters.jpg"}
              .grid-summary
                %h3 Cheryl Walters
                %div
                  %strong Title:
                  HR Administrator
                %div
                  %strong Birthday:
                  5/30/77 (35)
                %div
                  %strong Start Date:
                  4/4/03
                %div
                  %strong Salary:
                  $75,000
                %div
                  %strong Summary:
                  Chatty and sweet. Can talk to anyone. Overworked in a semi-thankless job.
                %div
                  %strong Communications:
                  Brief and to the point.
          %li#angela-williams
            .summary
              .grid-headshot
                %img{alt: "Angela Williams", src: "images/people/angela-williams.jpg"}
              .grid-summary
                %h3 Angela Williams
                %div
                  %strong Title:
                  Front Desk &amp; Admin
                %div
                  %strong Birthday:
                  11/30/90 (22)
                %div
                  %strong Start Date:
                  5/16/11
                %div
                  %strong Salary:
                  $45,000
                %div
                  %strong Summary:
                  Young, energetic, a bit green. Organized. Writer at heart. Wants to be a copywriter.
                %div
                  %strong Communications:
                  Clean and clear.
      .people-team
        %h2#client-services
          Client Services
        %ul.people
          %li#amy-rivera
            .summary
              .grid-headshot
                %img{alt: "Amy Rivera", src: "images/people/amy-rivera.jpg"}
              .grid-summary
                %h3 Amy Rivera
                %div
                  %strong Title:
                  Account Director
                %div
                  %strong Birthday:
                  9/11/81 (31)
                %div
                  %strong Start Date:
                  2/8/10
                %div
                  %strong Salary:
                  $150,000
                %div
                  %strong Summary:
                  Career driven. Strong opinions. Works hard, but is pushy. Values results more than feelings.
                %div
                  %strong Communications:
                  Clear but overbearing.
          %li#jason-edmonds
            .summary
              .grid-headshot
                %img{alt: "Jason Edmonds", src: "images/people/jason-edmonds.jpg"}
              .grid-summary
                %h3 Jason Edmonds
                %div
                  %strong Title:
                  Account Director
                %div
                  %strong Birthday:
                  1/2/1977 (36)
                %div
                  %strong Start Date:
                  6/6/11
                %div
                  %strong Salary:
                  $135,000
                %div
                  %strong Summary:
                  Nice guy. More strategic than tactical. Expects results, but not at all costs.
                %div
                  %strong Communications:
                  Direct but considerate.
          %li#ann-bryan
            .summary
              .grid-headshot
                %img{alt: "Ann Bryan", src: "images/people/ann-bryan.jpg"}
              .grid-summary
                %h3 Ann Bryan
                %div
                  %strong Title:
                  Senior Project Manager
                %div
                  %strong Birthday:
                  1/27/80 (33)
                %div
                  %strong Start Date:
                  3/25/09
                %div
                  %strong Salary:
                  $110,000
                %div
                  %strong Summary:
                  Top notch PM. Friendly and funny but gets results. Respected and liked.
                %div
                  %strong Communications:
                  Uses humor and relationships to get the most out of people.
          %li#julie-kim
            .summary
              .grid-headshot
                %img{alt: "Julie Kim", src: "images/people/julie-kim.jpg"}
              .grid-summary
                %h3 Julie Kim
                %div
                  %strong Title:
                  Project Manager
                %div
                  %strong Birthday:
                  12/23/76 (36)
                %div
                  %strong Start Date:
                  5/19/12
                %div
                  %strong Salary:
                  $75,000
                %div
                  %strong Summary:
                  Unshakeably positive attitude. New to the agency world. Learning to be a PM.
                %div
                  %strong Communications:
                  Friendly. Sometimes unclear and needs more detail.
          %li#tim-scott
            .summary
              .grid-headshot
                %img{alt: "Tim Scott", src: "images/people/tim-scott.jpg"}
              .grid-summary
                %h3 Tim Scott
                %div
                  %strong Title:
                  Project Manager
                %div
                  %strong Birthday:
                  5/20/79 (33)
                %div
                  %strong Start Date:
                  9/9/12
                %div
                  %strong Salary:
                  $70,000
                %div
                  %strong Summary:
                  A shaky PM. More strategic but someone landed a PM role.
                %div
                  %strong Communications:
                  Friendly. Lacks tactical knowledge.
      .people-team
        %h2#design
          Design
        %ul.people
          %li#mark-campbell
            .summary
              .grid-headshot
                %img{alt: "Mark Campbell", src: "images/people/mark-campbell.jpg"}
              .grid-summary
                %h3 Mark Campbell
                %div
                  %strong Title:
                  Creative Director
                %div
                  %strong Birthday:
                  8/23/76 (36)
                %div
                  %strong Start Date:
                  4/4/04
                %div
                  %strong Salary:
                  $175,000
                %div
                  %strong Summary:
                  Well respected. Designs often favor form over function. Very little technical knowledge.
                %div
                  %strong Communications:
                  Slow. Brief. Lacks detail. Mostly works in person.
          %li#carrie-ross
            .summary
              .grid-headshot
                %img{alt: "Carrie Ross", src: "images/people/carrie-ross.jpg"}
              .grid-summary
                %h3 Carrie Ross
                %div
                  %strong Title:
                  Senior Designer
                %div
                  %strong Birthday:
                  8/7/77 (35)
                %div
                  %strong Start Date:
                  9/7/05
                %div
                  %strong Salary:
                  $110,000
                %div
                  %strong Summary:
                  Respected for her tenure. Internalizes her feelings. Weak in technology.
                %div
                  %strong Communications:
                  Hasn't always shared her opinions, but getting more negatively vocal of late.
            %li#matt-donahue
              .summary
                .grid-headshot
                  %img{alt: "Matt Donahue", src: "images/people/matt-donahue.jpg"}
                .grid-summary
                  %h3 Matt Donahue
                  %div
                    %strong Title:
                    Designer
                  %div
                    %strong Birthday:
                    3/29/83 (30)
                  %div
                    %strong Start Date:
                    2/24/08
                  %div
                    %strong Salary:
                    $90,000
                  %div
                    %strong Summary:
                    Really solid. Up and coming. Knows technology. Simple, clean designs. Happy where he's at.
                  %div
                    %strong Communications:
                    PMs love him -- he communicates well, internally and to clients.
          %li#nicole-katz
            .summary
              .grid-headshot
                %img{alt: "Nicole Katz", src: "images/people/nicole-katz.jpg"}
              .grid-summary
                %h3 Nicole Katz
                %div
                  %strong Title:
                  Designer
                %div
                  %strong Birthday:
                  6/8/89 (23)
                %div
                  %strong Start Date:
                  8/8/2012
                %div
                  %strong Salary:
                  $55,000
                %div
                  %strong Summary:
                  The most junior member of the team. Still has much to learn.
                %div
                  %strong Communications:
                  At times shows how junior she is with her comments and social chatter.
          %li#tashia-hughes
            .summary
              .grid-headshot
                %img{alt: "Tashia Hughes", src: "images/people/tashia-hughes.jpg"}
              .grid-summary
                %h3 Tashia Hughes
                %div
                  %strong Title:
                  Copywriter
                %div
                  %strong Birthday:
                  9/23/82 (30)
                %div
                  %strong Start Date:
                  10/16/10
                %div
                  %strong Salary:
                  $85,000
                %div
                  %strong Summary:
                  A goofball. Boisterous. Lots of laughing and LOLCats.
                %div
                  %strong Communications:
                  A writer, so communicates well. A little too peppy for clients sometimes.
          %li#sharon-bradford
            .summary
              .grid-headshot
                %img{alt: "Sharon Bradford", src: "images/people/sharon-bradford.jpg"}
              .grid-summary
                %h3 Sharon Bradford
                %div
                  %strong Title:
                  Senior UX Designer
                %div
                  %strong Birthday:
                  12/19/79 (33)
                %div
                  %strong Start Date:
                  1/19/11
                %div
                  %strong Salary:
                  $110,000
                %div
                  %strong Summary:
                  An intellectual. Soft spoken but super smart.
                %div
                  %strong Communications:
                  Writes more than she speaks. A little quiet in person.
          %li#zach-settles
            .summary
              .grid-headshot
                %img{alt: "Zach Settles", src: "images/people/zach-settles.jpg"}
              .grid-summary
                %h3 Zach Settles
                %div
                  %strong Title:
                  UX Designer
                %div
                  %strong Birthday:
                  3/26/86 (27)
                %div
                  %strong Start Date:
                  12/3/11
                %div
                  %strong Salary:
                  $90,000
                %div
                  %strong Summary:
                  A solid contributor. Parties hard but gets his stuff done.
                %div
                  %strong Communications:
                  A conversationalist, but can still write.
      .people-team
        %h2#strategy
          Strategy
        %ul.people
          %li#josh-fiske
            .summary
              .grid-headshot
                %img{alt: "Josh Fiske", src: "images/people/josh-fiske.jpg"}
              .grid-summary
                %h3 Josh Fiske
                %div
                  %strong Title:
                  Director of Strategy
                %div
                  %strong Birthday:
                  1/7/75 (38)
                %div
                  %strong Start Date:
                  5/4/07
                %div
                  %strong Salary:
                  $165,000
                %div
                  %strong Summary:
                  Dry humor but charming. Disorganized but well-respected.
                %div
                  %strong Communications:
                  Slow given his disorganization. Effective when it matters.
          %li#andrew-wong
            .summary
              .grid-headshot
                %img{alt: "Andrew Wong", src: "images/people/andrew-wong.jpg"}
              .grid-summary
                %h3 Andrew Wong
                %div
                  %strong Title:
                  Senior Strategist
                %div
                  %strong Birthday:
                  1/20/83 (29)
                %div
                  %strong Start Date:
                  8/14/09
                %div
                  %strong Salary:
                  $125,000
                %div
                  %strong Summary:
                  A true bachelor. Works hard, plays hard.
                %div
                  %strong Communications:
                  Loud in person! A little disorganized, but thoughtful.
          %li#lillie-mckenzie
            .summary
              .grid-headshot
                %img{alt: "Lillie McKenzie", src: "images/people/lillie-mckenzie.jpg"}
              .grid-summary
                %h3 Lillie McKenzie
                %div
                  %strong Title:
                  Strategist
                %div
                  %strong Birthday:
                  9/16/83 (29)
                %div
                  %strong Start Date:
                  5/16/11
                %div
                  %strong Salary:
                  $100,000
                %div
                  %strong Summary:
                  Quietly confident and super smart.
                %div
                  %strong Communications:
                  Quiet in person. Thoughtful and detailed.
      .people-team
        %h2#technology
          Technology
        %ul.people
          %li#scott-marsh
            .summary
              .grid-headshot
                %img{alt: "Scott Marsh", src: "images/people/scott-marsh.jpg"}
              .grid-summary
                %h3 Scott Marsh
                %div
                  %strong Title:
                  Director of Technology
                %div
                  %strong Birthday:
                  6/25/68 (44)
                %div
                  %strong Start Date:
                  4/20/06
                %div
                  %strong Salary:
                  $145,000
                %div
                  %strong Summary:
                  A huge nerd. His frustration and negativity about the company are starting to really show.
                %div
                  %strong Communications:
                  Fast and reliable. Can be aggressive and get upset easily.
          %li#brian-jenks
            .summary
              .grid-headshot
                %img{alt: "Brian Jenks", src: "images/people/brian-jenks.jpg"}
              .grid-summary
                %h3 Brian Jenks
                %div
                  %strong Title:
                  Front End Developer
                %div
                  %strong Birthday:
                  12/5/80 (32)
                %div
                  %strong Start Date:
                  7/25/09
                %div
                  %strong Salary:
                  $110,000
                %div
                  %strong Summary:
                  Great developer, but attitude has sucked recently. Tired of working with designers who don't understand technology.
                %div
                  %strong Communications:
                  Short and getting more and more snarky.
          %li#charles-koga
            .summary
              .grid-headshot
                %img{alt: "Charles Koga", src: "images/people/charles-koga.jpg"}
              .grid-summary
                %h3 Charles Koga
                %div
                  %strong Title:
                  Front End Developer
                %div
                  %strong Birthday:
                  1/4/86 (27)
                %div
                  %strong Start Date:
                  6/20/11
                %div
                  %strong Salary:
                  $75,000
                %div
                  %strong Summary:
                  A reliable, smart developer. Needs guidance prioritizing and understanding clients, but can code anything.
                %div
                  %strong Communications:
                  Slow but thorough. Too technical. Focuses on code more than email.
          %li#kurt-nightingale
            .summary
              .grid-headshot
                %img{alt: "Kurt Nightingale", src: "images/people/kurt-nightingale.jpg"}
              .grid-summary
                %h3 Kurt Nightingale
                %div
                  %strong Title:
                  Rails Developer
                %div
                  %strong Birthday:
                  6/18/79 (33)
                %div
                  %strong Start Date:
                  9/9/09
                %div
                  %strong Salary:
                  $130,000
                %div
                  %strong Summary:
                  Incredible developer that can code anything. Horrible attitude, thinks he knows more than everyone.
                %div
                  %strong Communications:
                  Sarcastic. Pedantic.
          %li#jared-davis
            .summary
              .grid-headshot
                %img{alt: "Jared Davis", src: "images/people/jared-davis.jpg"}
              .grid-summary
                %h3 Jared Davis
                %div
                  %strong Title:
                  Rails Developer
                %div
                  %strong Birthday:
                  4/18/84 (28)
                %div
                  %strong Start Date:
                  4/22/12
                %div
                  %strong Salary:
                  $95,000
                %div
                  %strong Summary:
                  Thrilled to be doing Rails at an agency. Loves it.
                %div
                  %strong Communications:
                  Fast, energetic, very technical. Working on being more client focused.

    %footer
      %a{href: "#top"}▲ Go Back To List Of Teams
