!!!
%html
  %head
    %title 1917 Design - People
    %meta{charset: "UTF-8"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %link{href: "css/styles.css", rel: "stylesheet"}
    %link{href: "images/favicon.ico", rel: "shortcut icon"}
    %script{type: "text/javascript", src: "//use.typekit.net/xla8eyn.js"}
    %script{type: "text/javascript"}
      try{Typekit.load();}catch(e){}
  %body
    .container
      %header
        .title-background
          .title
            %h1
              1917 Design
          %nav
            %ul
              %li
                %a{href: "index.html"}People
              %li
                %a{href: "questions.html"}Questions
              %li
                %a{href: "about.html"}About
      .content
        %nav.subnav
          %ul
            %li
              %a{href: "#executive-team"}Executive Team
            %li
              %a{href: "#operations"}Operations
            %li
              %a{href: "#client-services"}Client Services
            %li
              %a{href: "#design"}Design
            %li
              %a{href: "#strategy"}Strategy
            %li
              %a{href: "#technology"}Technology
        .team
          %h2#executive-team
            Executive Team
          %ul.people.group
            %li#victor-cooper
              .summary.group
                .grid-1
                  %img.headshot{alt: "Victor Cooper", src: "images/people/victor-cooper.jpg"}
                .grid-2
                  %h3 Victor Cooper
                  %h4
                    %strong Title:
                    President and CEO
                  %h4
                    %strong Birthday:
                    1/18/71 (42)
                  %h4
                    %strong Start Date:
                    4/2/03
                  %h4
                    %strong Salary:
                    $350,000
              %p.description
                Generally regarded as a nice guy. Nobody is ever quite sure what he's doing. He's run the business at a significant profit since its inception.
              %p.description
                Because of his design background, design always wins over UX or technology. It's rare for him to be involved in day to day operations. His emails are usually brief one-liners. He's not a very good public speaker.
            %li#jennifer-young
              .summary.group
                .grid-1
                  %img.headshot{alt: "Jennifer Young", src: "images/people/jennifer-young.jpg"}
                .grid-2
                  %h3 Jennifer Young
                  %h4
                    %strong Title:
                    VP, Operations
                  %h4
                    %strong Birthday:
                    7/1/73 (40)
                  %h4
                    %strong Start Date:
                    4/2/03
                  %h4
                    %strong Salary:
                    $250,000
              %p.description
                Victor's most trusted lieutenant who's been there from the beginning and runs the company day to day. She's super-friendly and a family woman, which is why just about everyone loves her.
              %p.description
                She is thorough in her work, and her communications are tight. She tends to give in to clients which can be frustrating to others, but keeps clients happy and paying.
        .team
          %h2#operations
            Operations
          %ul.people.group
            %li#jerry-gibson
              .summary.group
                .grid-1
                  %img.headshot{alt: "Jerry Gibson", src: "images/people/jerry-gibson.jpg"}
                .grid-2
                  %h3 Jerry Gibson
                  %h4
                    %strong Title:
                    Director of Operations
                  %h4
                    %strong Birthday:
                    2/2/77 (36)
                  %h4
                    %strong Start Date:
                    8/15/06
                  %h4
                    %strong Salary:
                    $150,000
              %p.description
                Along with Jennifer, Jerry basically runs the company. He started in client services and moved into an operational role. He's a tactical mastermind and can make just about anything run.
              %p.description
                Jerry is known as a peacemaker. When people are frustrated, he knows the triggers to get people to work together. His communications are thorough and tight, albeit verbose to make sure all the bases are covered.
            %li#cheryl-walters
              .summary.group
                .grid-1
                  %img.headshot{alt: "Cheryl Walters", src: "images/people/cheryl-walters.jpg"}
                .grid-2
                  %h3 Cheryl Walters
                  %h4
                    %strong Title:
                    HR Administrator
                  %h4
                    %strong Birthday:
                    5/30/77 (35)
                  %h4
                    %strong Start Date:
                    4/4/03
                  %h4
                    %strong Salary:
                    $75,000
              %p.description
                Cheryl is overworked and underappreciated. In a small company, HR is something that's important, but to keep overhead low falls to one person.
              %p.description
                On occasion Cheryl might get frustrated with you (it's usually your fault for messing something up), but most of the time she's chatty and friendly. And since she runs HR, she's organized. Her communications are brief since she's so busy, but she always gets back to you in time.
              %p.description
                And she's clearly a dog lover.
            %li#angela-williams
              .summary.group
                .grid-1
                  %img.headshot{alt: "Angela Williams", src: "images/people/angela-williams.jpg"}
                .grid-2
                  %h3 Angela Williams
                  %h4
                    %strong Title:
                    Front Desk &amp; Admin
                  %h4
                    %strong Birthday:
                    11/30/90 (22)
                  %h4
                    %strong Start Date:
                    5/16/11
                  %h4
                    %strong Salary:
                    $45,000
              %p.description
                Angela is a recent college grad who has a passion for writing. She's interested in agency work, and is hoping to use her position to move into a creative position within the company. She's highly motivated and smart, but she just ran into a soft job market.
              %p.description
                She's organized and communicates well since her job relies on those skills. Her communications are done well.
        .team
          %h2#client-services
            Client Services
          %ul.people.group
            %li#amy-rivera
              .summary.group
                .grid-1
                  %img.headshot{alt: "Amy Rivera", src: "images/people/amy-rivera.jpg"}
                .grid-2
                  %h3 Amy Rivera
                  %h4
                    %strong Title:
                    Account Director
                  %h4
                    %strong Birthday:
                    9/11/81 (31)
                  %h4
                    %strong Start Date:
                    2/8/10
                  %h4
                    %strong Salary:
                    $150,000
              %p.description
                Generally regarded as a nice guy, but mysterious. Nobody is ever quite sure what he's doing. He's run the business at a significant profit since its inception, so he must be doing something right.
              %p.description
                His background is in design, so design always wins over UX or technology. It's rare for him to be involved in day to day operations. His communications are brief. He's not a very good public speaker.
            %li#jason-edmonds
              .summary.group
                .grid-1
                  %img.headshot{alt: "Jason Edmonds", src: "images/people/jason-edmonds.jpg"}
                .grid-2
                  %h3 Jason Edmonds
                  %h4
                    %strong Title:
                    Account Director
                  %h4
                    %strong Birthday:
                    1/2/1977 (36)
                  %h4
                    %strong Start Date:
                    4/4/03
                  %h4
                    %strong Salary:
                    $250,000
              %p.description
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %li#ann-bryan
              .summary.group
                .grid-1
                  %img.headshot{alt: "Ann Bryan", src: "images/people/ann-bryan.jpg"}
                .grid-2
                  %h3 Ann Bryan
                  %h4
                    %strong Title:
                    Senior Project Manager
                  %h4
                    %strong Birthday:
                    1/27/80 (33)
                  %h4
                    %strong Start Date:
                    4/4/03
                  %h4
                    %strong Salary:
                    $250,000
              %p.description
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %li#julie-kim
              .summary.group
                .grid-1
                  %img.headshot{alt: "Julie Kim", src: "images/people/julie-kim.jpg"}
                .grid-2
                  %h3 Julie Kim
                  %h4
                    %strong Title:
                    Project Manager
                  %h4
                    %strong Birthday:
                    12/23/76 (36)
                  %h4
                    %strong Start Date:
                    4/4/03
                  %h4
                    %strong Salary:
                    $250,000
              %p.description
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %li#tim-scott
              .summary.group
                .grid-1
                  %img.headshot{alt: "Tim Scott", src: "images/people/tim-scott.jpg"}
                .grid-2
                  %h3 Tim Scott
                  %h4
                    %strong Title:
                    Project Manager
                  %h4
                    %strong Birthday:
                    5/20/79 (33)
                  %h4
                    %strong Start Date:
                    4/4/03
                  %h4
                    %strong Salary:
                    $250,000
              %p.description
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .team
          %h2#design
            Design
          %ul.people.group
            %li#mark-campbell
              .summary.group
                .grid-1
                  %img.headshot{alt: "Mark Campbell", src: "images/people/mark-campbell.jpg"}
                .grid-2
                  %h3 Mark Campbell
                  %h4
                    %strong Title:
                    Creative Director
                  %h4
                    %strong Birthday:
                    8/23/76 (36)
                  %h4
                    %strong Start Date:
                    4/4/03
                  %h4
                    %strong Salary:
                    $350,000
              %p.description
                Generally regarded as a nice guy, but mysterious. Nobody is ever quite sure what he's doing. He's run the business at a significant profit since its inception, so he must be doing something right.
              %p.description
                His background is in design, so design always wins over UX or technology. It's rare for him to be involved in day to day operations. His communications are brief. He's not a very good public speaker.
            %li#carrie-ross
              .summary.group
                .grid-1
                  %img.headshot{alt: "Carrie Ross", src: "images/people/carrie-ross.jpg"}
                .grid-2
                  %h3 Carrie Ross
                  %h4
                    %strong Title:
                    Senior Designer
                  %h4
                    %strong Birthday:
                    8/7/77 (35)
                  %h4
                    %strong Start Date:
                    4/4/03
                  %h4
                    %strong Salary:
                    $250,000
              %p.description
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %li#nicole-katz
              .summary.group
                .grid-1
                  %img.headshot{alt: "Nicole Katz", src: "images/people/nicole-katz.jpg"}
                .grid-2
                  %h3 Nicole Katz
                  %h4
                    %strong Title:
                    Designer
                  %h4
                    %strong Birthday:
                    6/8/89 (23)
                  %h4
                    %strong Start Date:
                    4/4/03
                  %h4
                    %strong Salary:
                    $250,000
              %p.description
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %li#matt-donahue
              .summary.group
                .grid-1
                  %img.headshot{alt: "Matt Donahue", src: "images/people/matt-donahue.jpg"}
                .grid-2
                  %h3 Matt Donahue
                  %h4
                    %strong Title:
                    Designer
                  %h4
                    %strong Birthday:
                    3/29/83 (30)
                  %h4
                    %strong Start Date:
                    4/4/03
                  %h4
                    %strong Salary:
                    $250,000
              %p.description
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %li#tashia-hughes
              .summary.group
                .grid-1
                  %img.headshot{alt: "Tashia Hughes", src: "images/people/tashia-hughes.jpg"}
                .grid-2
                  %h3 Tashia Hughes
                  %h4
                    %strong Title:
                    Copywriter
                  %h4
                    %strong Birthday:
                    9/23/82 (30)
                  %h4
                    %strong Start Date:
                    4/4/03
                  %h4
                    %strong Salary:
                    $250,000
              %p.description
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %li#sharon-bradford
              .summary.group
                .grid-1
                  %img.headshot{alt: "Sharon Bradford", src: "images/people/sharon-bradford.jpg"}
                .grid-2
                  %h3 Sharon Bradford
                  %h4
                    %strong Title:
                    Senior UX Designer
                  %h4
                    %strong Birthday:
                    12/19/79 (33)
                  %h4
                    %strong Start Date:
                    4/4/03
                  %h4
                    %strong Salary:
                    $250,000
              %p.description
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %li#zach-settles
              .summary.group
                .grid-1
                  %img.headshot{alt: "Zach Settles", src: "images/people/zach-settles.jpg"}
                .grid-2
                  %h3 Zach Settles
                  %h4
                    %strong Title:
                    UX Designer
                  %h4
                    %strong Birthday:
                    3/26/86 (27)
                  %h4
                    %strong Start Date:
                    4/4/03
                  %h4
                    %strong Salary:
                    $250,000
              %p.description
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .team
          %h2#strategy
            Strategy
          %ul.people.group
            %li#josh-fiske
              .summary.group
                .grid-1
                  %img.headshot{alt: "Josh Fiske", src: "images/people/josh-fiske.jpg"}
                .grid-2
                  %h3 Josh Fiske
                  %h4
                    %strong Title:
                    Director of Strategy
                  %h4
                    %strong Birthday:
                    1/7/75 (38)
                  %h4
                    %strong Start Date:
                    4/4/03
                  %h4
                    %strong Salary:
                    $350,000
              %p.description
                Generally regarded as a nice guy, but mysterious. Nobody is ever quite sure what he's doing. He's run the business at a significant profit since its inception, so he must be doing something right.
              %p.description
                His background is in design, so design always wins over UX or technology. It's rare for him to be involved in day to day operations. His communications are brief. He's not a very good public speaker.
            %li#andrew-wong
              .summary.group
                .grid-1
                  %img.headshot{alt: "Andrew Wong", src: "images/people/andrew-wong.jpg"}
                .grid-2
                  %h3 Andrew Wong
                  %h4
                    %strong Title:
                    Senior Strategist
                  %h4
                    %strong Birthday:
                    1/20/83 (29)
                  %h4
                    %strong Start Date:
                    4/4/03
                  %h4
                    %strong Salary:
                    $250,000
              %p.description
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %li#lillie-mckenzie
              .summary.group
                .grid-1
                  %img.headshot{alt: "Lillie McKenzie", src: "images/people/lillie-mckenzie.jpg"}
                .grid-2
                  %h3 Lillie McKenzie
                  %h4
                    %strong Title:
                    Strategist
                  %h4
                    %strong Birthday:
                    9/16/83 (29)
                  %h4
                    %strong Start Date:
                    4/4/03
                  %h4
                    %strong Salary:
                    $250,000
              %p.description
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .team
          %h2#technology
            Technology
          %ul.people.group
            %li#scott-marsh
              .summary.group
                .grid-1
                  %img.headshot{alt: "Scott Marsh", src: "images/people/scott-marsh.jpg"}
                .grid-2
                  %h3 Scott Marsh
                  %h4
                    %strong Title:
                    Director of Technology
                  %h4
                    %strong Birthday:
                    6/25/68 (44)
                  %h4
                    %strong Start Date:
                    4/4/03
                  %h4
                    %strong Salary:
                    $350,000
              %p.description
                Generally regarded as a nice guy, but mysterious. Nobody is ever quite sure what he's doing. He's run the business at a significant profit since its inception, so he must be doing something right.
              %p.description
                His background is in design, so design always wins over UX or technology. It's rare for him to be involved in day to day operations. His communications are brief. He's not a very good public speaker.
            %li#charles-koga
              .summary.group
                .grid-1
                  %img.headshot{alt: "Charles Koga", src: "images/people/charles-koga.jpg"}
                .grid-2
                  %h3 Charles Koga
                  %h4
                    %strong Title:
                    Front End Developer
                  %h4
                    %strong Birthday:
                    1/4/86 (27)
                  %h4
                    %strong Start Date:
                    4/4/03
                  %h4
                    %strong Salary:
                    $250,000
              %p.description
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %li#brian-jenks
              .summary.group
                .grid-1
                  %img.headshot{alt: "Brian Jenks", src: "images/people/brian-jenks.jpg"}
                .grid-2
                  %h3 Brian Jenks
                  %h4
                    %strong Title:
                    Front End Developer
                  %h4
                    %strong Birthday:
                    12/5/80 (32)
                  %h4
                    %strong Start Date:
                    4/4/03
                  %h4
                    %strong Salary:
                    $250,000
              %p.description
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %li#jared-davis
              .summary.group
                .grid-1
                  %img.headshot{alt: "Jared Davis", src: "images/people/jared-davis.jpg"}
                .grid-2
                  %h3 Jared Davis
                  %h4
                    %strong Title:
                    Rails Developer
                  %h4
                    %strong Birthday:
                    4/18/84 (28)
                  %h4
                    %strong Start Date:
                    4/4/03
                  %h4
                    %strong Salary:
                    $250,000
              %p.description
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %li#kurt-nightingale
              .summary.group
                .grid-1
                  %img.headshot{alt: "Kurt Nightingale", src: "images/people/kurt-nightingale.jpg"}
                .grid-2
                  %h3 Kurt Nightingale
                  %h4
                    %strong Title:
                    Rails Developer
                  %h4
                    %strong Birthday:
                    6/18/86 (26)
                  %h4
                    %strong Start Date:
                    4/4/03
                  %h4
                    %strong Salary:
                    $250,000
              %p.description
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.