!!!
%html
  %head
    %title 1917 Design - People
    %meta{charset: "UTF-8"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %link{href: "css/styles.css", rel: "stylesheet"}
    %link{href: "images/favicon.ico", rel: "shortcut icon"}
    %script{type: "text/javascript", src: "//use.typekit.net/xla8eyn.js"}
    %script{type: "text/javascript"}
      try{Typekit.load();}catch(e){}
  %body
    %header#top
      .title-background
        .title
          %h1
            1917 Design
        %nav.nav-main
          %ul
            %li
              %a{href: "index.html"}People
            %li
              %a{href: "questions.html"}Questions
    %nav.nav-sub
      %ul
        %li
          %a{href: "#awards"}Awards
        %li
          %a{href: "#conversations"}Conversations
        %li
          %a{href: "#one-on-ones"}One-On-Ones
        %li
          %a{href: "#promotions"}Promotions
        %li
          %a{href: "#reviews"}Reviews
        %li
          %a{href: "#salary-adjustments"}Salary
    .content
      .summary.individual
        .grid-headshot
          %img{alt: "Matt Donahue", src: "images/people/matt-donahue.jpg"}
        .grid-summary
          %h3 Matt Donahue
          %div
            %strong Title:
            Designer
          %div
            %strong Birthday:
            3/29/83 (30)
          %div
            %strong Start Date:
            2/24/08
          %div
            %strong Salary:
            $90,000
          %div
            %strong Address:
            587 Patterson St., Chicago, IL 60606
          %div
            %strong Family:
            Jaime (fiancee)
          %div
            %strong Summary:
            Really solid. Up and coming. Knows technology. Simple, clean designs. Happy where he's at. PMs love him -- he communicates well, internally and to clients.
      %ul.events
        %hr
        %li
          %h2#awards
            Awards
          %ul
            %li.event
              %h4
                4/17/10: $5,000 bonus
              %p
                Matt has been a great contributor over the last year. He almost single-handedly pulled off the client project by himself.
              %p
                In this market, $5,000 was a pretty significant bonus, so we felt that was a reasonable award.
              .audit-info
                Created by
                %a{href: "matt-campbell.html"}Matt Campbell
                on 4/20/10
    %footer
      %a{href: "#top"}▲ Go Back To Top
