!!!
%html
  %head
    %title 1917 Design - Questions
    %meta{charset: "UTF-8"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %link{href: "css/styles.css", rel: "stylesheet"}
    %link{href: "images/favicon.ico", rel: "shortcut icon"}
    %script{type: "text/javascript", src: "//use.typekit.net/xla8eyn.js"}
    %script{type: "text/javascript"}
      try{Typekit.load();}catch(e){}
  %body
    %header#top
      .title-background
        .title
          %h1
            1917 Design
        %nav.nav-main
          %ul
            %li
              %a{href: "index.html"}People
            %li
              %a{href: "question.html"}Questions
    .content
      %ol.questions-list#questions-list
        %li
          %a{href: "#question-1"}Are there any benefits we don't offer that you'd like to see us offer?
        %li
          %a{href: "#question-2"}Are there any policies at the company that aren't clear?
        %li
          %a{href: "#question-3"}Have you seen something recently and thought to yourself "I wish we'd done that"?
        %li
          %a{href: "#question-4"}Do you think we give you enough feedback on your performance?
        %li
          %a{href: "#question-5"}Do you think you work more than 40 hours a week?
        %li
          %a{href: "#question-6"}Do you wish you could be working on a different project right now?
        %li
          %a{href: "#question-7"}Do you think we spend too much time on something that just isn't worth it?
        %li
          %a{href: "#question-8"}Do you feel like three questions a week is too many?
        %li
          %a{href: "#question-9"}Have we been all talk and no action on something?
        %li
          %a{href: "#question-10"}Do you know what most of your coworkers are working on?
        %li
          %a{href: "#question-11"}Have you seen something great go unnoticed?
        %li
          %a{href: "#question-12"}As a company, do you think we're behind the curve on anything in particular?
        %li
          %a{href: "#question-13"}Do you feel rushed?
        %li
          %a{href: "#question-14"}Do you think the company is the right size?
        %li
          %a{href: "#question-15"}Have you been afraid to suggest an idea at work because you thought someone might shoot it down?
        %li
          %a{href: "#question-16"}If someone asked you to describe the vision of the company, would a clear answer immediately come to mind?
        %li
          %a{href: "#question-17"}Are there things you don't know about the company that you feel you should know?
      %ul.questions-results
        %hr
        %li
          %h2#question-1
            Are there any benefits we don't offer that you'd like to see us offer?
          .questions-totals
            3 Yes. 15 No.
          %ul
            %li.answer
              .grid-headshot-small
                %img{alt: "Kurt Nightingale", src: "images/people/kurt-nightingale.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#kurt-nightingale"}Kurt Nightingale
                %p.answer
                  Our health benefits are way too expensive compared to bigger companies. I have friends who pay half of what we do for the same benefits!
            %li.answer
              .grid-headshot-small
                %img{alt: "Jason Edmonds", src: "images/people/jason-edmonds.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#jason-edmonds"}Jason Edmonds
                %p.answer
                  It's great that we offer a 401k, but it's disappointing that we don't have a matching program. Many companies match up to 5%, and allow employees to vest after a few years. This would really help beef up our retirement funds.
            %li.answer
              .grid-headshot-small
                %img{alt: "Andrew Wong", src: "images/people/andrew-wong.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#andrew-wong"}Andrew Wong
                %p.answer
                  It'd be cool if we could get group discounts on stuff a lot of us buy. Some companies offer cell service discounts or Apple Store discounts. That'd be killer.
        %hr
        %li
          %h2#question-2
            Are there any policies at the company that aren't clear?
          .questions-totals
            10 Yes. 6 No.
          %ul
            %li.answer
              .grid-headshot-small
                %img{alt: "Julie Kim", src: "images/people/julie-kim.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#julie-kim"}Julie Kim
                %p.answer
                  I've always wondered if we have a matching program for charitable donations. As far as I know we don't but I wasn't 100% sure. It'd be a great way to encourage the team to give back to the community!
            %li.answer
              .grid-headshot-small
                %img{alt: "Tashia Hughes", src: "images/people/tashia-hughes.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#tashia-hughes"}Tashia Hughes
                %p.answer
                  Do we allow dogs in the office? I've never seen one, but there are so many animal lovers in the office this could be really cool! I know some people think they could be a distraction, but I've seen them at other offices and they really help bring people together!!!
            %li.answer
              .grid-headshot-small
                %img{alt: "Zach Settles", src: "images/people/zach-settles.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#zach-settles"}Zach Settles
                %p.answer
                  Ummm...I'm asking for someone else. Do we have a drug testing policy?
            %li.answer
              .grid-headshot-small
                %img{alt: "Kurt Nightingale", src: "images/people/kurt-nightingale.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#kurt-nightingale"}Kurt Nightingale
                %p.answer
                  Pretty much every policy is unclear because most of them aren't written down. Even if they are, they are rarely followed. What's the point in having rules/guidelines if we're not going to follow them?
            %li.answer
              .grid-headshot-small
                %img{alt: "Mark Campbell", src: "images/people/mark-campbell.jpg"}
              .grid-summary-small
                %h4
                  No:
                  %a{href: "index.html#mark-campbell"}Mark Campbell
                %p.answer
                  All good.
            %li.answer
              .grid-headshot-small
                %img{alt: "Jared Davis", src: "images/people/jared-davis.jpg"}
              .grid-summary-small
                %h4
                  No:
                  %a{href: "index.html#jared-davis"}Jared Davis
                %p.answer
                  Quite the opposite. I love the fact that we don't have very many "official" policies, and that we take responsibility for ourselves. This is a huge, huge reason I wanted to work here. Please don't change it!
        %hr
        %li
          %h2#question-3
            Have you seen something recently and thought to yourself "I wish we'd done that"?
          .questions-totals
            2 Yes. 11 No.
          %ul
            %li.answer
              .grid-headshot-small
                %img{alt: "Brian Jenks", src: "images/people/brian-jenks.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#brian-jenks"}Brian Jenks
                %p.answer
                  Constantly. Our clients aren't cutting edge, but they take up all our time. There are so many things we could be doing in mobile and building HTML5 apps.
            %li.answer
              .grid-headshot-small
                %img{alt: "Sharon Bradford", src: "images/people/sharon-bradford.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#sharon-bradford"}Sharon Bradford
                %p.answer
                  The University of Chicago is buiding some really interesting experiments to get more data on human interaction design. I'd love if we could build something that could help contribute to this.
            %li.answer
              .grid-headshot-small
                %img{alt: "Jerry Gibson", src: "images/people/jerry-gibson.jpg"}
              .grid-summary-small
                %h4
                  No:
                  %a{href: "index.html#jerry-gibson"}Jerry Gibson
                %p.answer
                  Our success is built around being able to prioritize, so no, I think we're doing a great job of picking our battles. We can't be everything to everyone, and we have many of our own ideas and priorities that we can execute on to distinguish ourselves. Keep it up!
            %li.answer
              .grid-headshot-small
                %img{alt: "Matt Donahue", src: "images/people/matt-donahue.jpg"}
              .grid-summary-small
                %h4
                  No:
                  %a{href: "index.html#matt-donahue"}Matt Donahue
                %p.answer
                  I'm a fan of a lot of work that's out there, our's included. I think it can be dangerous to get sucked into what's cool and hot, and wishing we had been a part of it.
                %p.answer
                  I know for a fact many people look at the work we and say the same about our stuff. So let's look inward and be proud of what we've done and not worry too much about what else is out there!
        %hr
        %li
          %h2#question-4
            Do you think we give you enough feedback on your performance?
          .questions-totals
            20 Yes. 3 No.
          %ul
            %li.answer
              .grid-headshot-small
                %img{alt: "Tim Scott", src: "images/people/tim-scott.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#tim-scott"}Tim Scott
                %p.answer
                  Yes. Because if I'm doing a crappy job, I know I'll hear about it.
            %li.answer
              .grid-headshot-small
                %img{alt: "Ann Bryan", src: "images/people/ann-bryan.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#ann-bryan"}Ann Bryan
                %p.answer
                  I know when our clients are happy and we're doing a good job. And if my projects are successful, I know I'm helping to lead that and doing a good job. And Jason and the rest of the team are great about cheering on our successes!
            %li.answer
              .grid-headshot-small
                %img{alt: "Nicole Katz", src: "images/people/nicole-katz.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#nicole-katz"}Nicole Katz
                %p.answer
                  Everyone has been super helpful with making my designs better. Thanks guys!!
            %li.answer
              .grid-headshot-small
                %img{alt: "Lillie McKenzie", src: "images/people/lillie-mckenzie.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#lillie-mckenzie"}Lillie McKenzie
                %p.answer
                  Definitely. I've seen my work improve dramatically thanks to the feedback from the team, especially from Josh. My skills and career are better off for being here.
            %li.answer
              .grid-headshot-small
                %img{alt: "Kurt Nightingale", src: "images/people/kurt-nightingale.jpg"}
              .grid-summary-small
                %h4
                  No:
                  %a{href: "index.html#kurt-nightingale"}Kurt Nightingale
                %p.answer
                  No. We're sort of left to do our own thing. We work hard to push out client deliverables, but we rarely get a thank you from the client. But we always hear about how we messed up.
            %li.answer
              .grid-headshot-small
                %img{alt: "Scott Marsh", src: "images/people/scott-marsh.jpg"}
              .grid-summary-small
                %h4
                  No:
                  %a{href: "index.html#scott-marsh"}Scott Marsh
                %p.answer
                  I know I try really hard to let my team know how they're doing. But I think managers are handled differently and have to navigate the water ourselves. I'd love to have a little more guidance from the executive team on how to improve.
        %hr
        %li
          %h2#question-5
            Do you think you work more than 40 hours a week?
          .questions-totals
            12 Yes. 10 No.
          %ul
            %li.answer
              .grid-headshot-small
                %img{alt: "Kurt Nightingale", src: "images/people/kurt-nightingale.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#kurt-nightingale"}Kurt Nightingale
                %p.answer
                  The dev team is regularly pulling 60 hours weeks, usually because designs or functionality have changed at the last minute. Not sure how much longer we can keep this up.
            %li.answer
              .grid-headshot-small
                %img{alt: "Josh Fiske", src: "images/people/josh-fiske.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#josh-fiske"}Josh Fiske
                %p.answer
                  Yeah, but for me it's less about how many hours of work, and more about if I'm enjoying it. I probably work closer to 50 hours a week, but I'm honestly having a blast so it's not a huge deal for me.
            %li.answer
              .grid-headshot-small
                %img{alt: "Carrie Ross", src: "images/people/carrie-ross.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#carrie-ross"}Carrie Ross
                %p.answer
                  It goes in peaks and valleys. But there have been an awful lot of peaks lately, especially with the new biz wins. Seems like we should have more resources available with all this new work coming in?
            %li.answer
              .grid-headshot-small
                %img{alt: "Mark Campbell", src: "images/people/mark-campbell.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#mark-campbell"}Mark Campbell
                %p.answer
                  I can do 40 in my sleep.
        %hr
        %li
          %h2#question-6
            Do you wish you could be working on a different project right now?
          .questions-totals
            6 Yes. 11 No.
          %ul
            %li.answer
              .grid-headshot-small
                %img{alt: "Kurt Nightingale", src: "images/people/kurt-nightingale.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#kurt-nightingale"}Kurt Nightingale
                %p.answer
                  How about one where the client doesn't constantly rag on us? Jeez.
            %li.answer
              .grid-headshot-small
                %img{alt: "Amy Rivera", src: "images/people/amy-rivera.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#amy-rivera"}Amy Rivera
                %p.answer
                  I know it's difficult to switch accounts around since ADs need to provide continuity across projects. But being on one account for over 2 years is wearing thin.
            %li.answer
              .grid-headshot-small
                %img{alt: "Angela Williams", src: "images/people/angela-williams.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#angela-williams"}Angela Williams
                %p.answer
                  Hey guys - I'd love to help out on some copywriting if there are any opportunities. You guys do great work and I'd love to be a part of it!
            %li.answer
              .grid-headshot-small
                %img{alt: "Julie Kim", src: "images/people/julie-kim.jpg"}
              .grid-summary-small
                %h4
                  No:
                  %a{href: "index.html#julie-kim"}Julie Kim
                %p.answer
                  I've got a great internal team and a great client, and am seriously learning so much. So I'd vote the opposite...keep me on this project for a while!
            %li.answer
              .grid-headshot-small
                %img{alt: "Tashia Hughes", src: "images/people/tashia-hughes.jpg"}
              .grid-summary-small
                %h4
                  No:
                  %a{href: "index.html#tashia-hughes"}Tashia Hughes
                %p.answer
                  No way!!! We're about to launch the site and I want to see this through and celebrate with the team!!!
        %hr
        %li
          %h2#question-7
            Do you think we spend too much time on something that just isn't worth it?
          .questions-totals
            6 Yes. 12 No.
          %ul
            %li.answer
              .grid-headshot-small
                %img{alt: "Kurt Nightingale", src: "images/people/kurt-nightingale.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#kurt-nightingale"}Kurt Nightingale
                %p.answer
                  Is this a trick question?
            %li.answer
              .grid-headshot-small
                %img{alt: "Brian Jenks", src: "images/people/brian-jenks.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#brian-jenks"}Brian Jenks
                %p.answer
                  Seriously? Yes. We spend inordinate amounts of time designing every last detail of a home page, and forget about designing the rest of the site. We have weeks and weeks of design concepting, and then about 4 weeks to code 500 pages. You do the math.
            %li.answer
              .grid-headshot-small
                %img{alt: "Zach Settles", src: "images/people/zach-settles.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#zach-settles"}Zach Settles
                %p.answer
                  Timesheets, my God, the timesheets. Look, I know we have to do them for accounting or something, but I really wonder if it's worth how much time we spend managing them.
            %li.answer
              .grid-headshot-small
                %img{alt: "Mark Campbell", src: "images/people/mark-campbell.jpg"}
              .grid-summary-small
                %h4
                  No:
                  %a{href: "index.html#mark-campbell"}Mark Campbell
                %p.answer
                  Seems to be working well.
            %li.answer
              .grid-headshot-small
                %img{alt: "Jared Davis", src: "images/people/jared-davis.jpg"}
              .grid-summary-small
                %h4
                  No:
                  %a{href: "index.html#jared-davis"}Jared Davis
                %p.answer
                  No company does it perfectly, so overall I think we spend our time well. Dev feels rushed sometimes, but believe me, I've been in way more disfunctional places. Our process works well.
        %hr
        %li
          %h2#question-8
            Do you feel like three questions a week is too many?
          .questions-totals
            1 Yes. 21 No.
          %ul
            %li.answer
              .grid-headshot-small
                %img{alt: "Jason Edmonds", src: "images/people/jason-edmonds.jpg"}
              .grid-summary-small
                %h4
                  No:
                  %a{href: "index.html#jason-edmonds"}Jason Edmonds
                %p.answer
                  I think as long as we keep them yes/no questions with optional comments, it's not a big deal at all.
        %hr
        %li
          %h2#question-9
            Have we been all talk and no action on something?
          .questions-totals
            10 Yes. 5 No.
          %ul
            %li.answer
              .grid-headshot-small
                %img{alt: "Kurt Nightingale", src: "images/people/kurt-nightingale.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#kurt-nightingale"}Kurt Nightingale
                %p.answer
                  We're promised comp time a lot, but it never materializes.
            %li.answer
              .grid-headshot-small
                %img{alt: "Carrie Ross", src: "images/people/carrie-ross.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#carrie-ross"}Carrie Ross
                %p.answer
                  Never got any comp time, and don't know how to really ask about it.
            %li.answer
              .grid-headshot-small
                %img{alt: "Tim Scott", src: "images/people/tim-scott.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#tim-scott"}Tim Scott
                %p.answer
                  Lack of comp time.
            %li.answer
              .grid-headshot-small
                %img{alt: "Zach Settles", src: "images/people/zach-settles.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#zach-settles"}Zach Settles
                %p.answer
                  Weren't we supposed to get our bonuses in early April?
            %li.answer
              .grid-headshot-small
                %img{alt: "Sharon Bradford", src: "images/people/sharon-bradford.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#sharon-bradford"}Sharon Bradford
                %p.answer
                  Annual reviews and bonuses seems to keep getting pushed back, and this is concerning for a variety of reasons. It gives the appearance that we are in financial trouble, but also that we don't take our individual performances seriously.
            %li.answer
              .grid-headshot-small
                %img{alt: "Charles Koga", src: "images/people/charles-koga.jpg"}
              .grid-summary-small
                %h4
                  Yes:
                  %a{href: "index.html#charles-koga"}Charles Koga
                %p.answer
                  Is there an update on annual reviews and bonuses? Thanks.
            %li.answer
              .grid-headshot-small
                %img{alt: "Lillie McKenzie", src: "images/people/lillie-mckenzie.jpg"}
              .grid-summary-small
                %h4
                  No:
                  %a{href: "index.html#lillie-mckenzie"}Lillie McKenzie
                %p.answer
                  In general I feel like the important stuff is taken care of. Sure thare are things that slip, but that happens everywhere. I think the team is doing a good job of taking care of what matters.
            %li.answer
              .grid-headshot-small
                %img{alt: "Nicole Katz", src: "images/people/nicole-katz.jpg"}
              .grid-summary-small
                %h4
                  No:
                  %a{href: "index.html#nicole-katz"}Nicole Katz
                %p.answer
                  It's pretty amazing, but people here do what they say and don't let you down. You guys are awesome!!!

    %footer
      %a{href: "#top"}▲ Go Back To Questions List