!!!
%html
  %head
    %title Dan Kim
    %meta{charset: "UTF-8"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %link{href: "css/styles.css", rel: "stylesheet", type: "text/css"}
    %link{href: "http://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,700'", rel: "stylesheet", type: "text/css"}
    %meta{content: "Dan Kim", property: "og:title"}
    %meta{content: "website", property: "og:type"}
    %meta{content: "http://dankim.org", property: "og:url"}
    %meta{content: "http://dankim.org/images/parker.jpg", property: "og:image"}
    %meta{content: "I'm a husband, dad, programmer, and student at The Starter League.", property: "og:description"}
  %body
    .container
      .title-background
        .title
          %h1
            Hi, my name is Dan Kim.
      .content
        %p
          I'm a husband, dad, programmer, and <a href="starterleague" title="Dan Kim @ The Starter League">student at The Starter League</a>. I occasionally like to write on <a href="http://dankim.org/blog" alt="Dan Kim's Blog">my blog</a>.
        .family
          %h2
            My family. My #1 priority.
          %ul.group.portraits
            %li
              .portrait
                %img.portrait-image{alt: "Andrew", src: "images/andrew.jpg"}
                %h3 Andrew
        .passion
          %h2
            I love creating great software. I admire and learn from these great Chicago companies.
          %ul.group
            %li
              %a{href: "http://37signals.com", title: "37signals"}
                %img.logos{alt: "37signals", src: "images/37signals.png"}
        %footer
          %a{href: "http://github.com/lateplate", title: "Dan Kim's Github"} Github
          \/
          %a{href: "http://dankim.org/blog", title: "Dan Kim's Blog"} Blog
          \/
          %a{href: "http://twitter.com/dankim", title: "Dan Kim on Twitter"} Twitter
          \/
          %a{href: "mailto:hello@dankim.org"} Email
    %script{src: "http://php.dankim.org/dankim-org-ga.js", type: "text/javascript"}