@media all and (min-width: 600px)
  body
    font-size: +em(18)

  .answer
    text-align: left

  .grid-1
    margin: 0 5%
    width: 35%
    float: left

  .grid-1-small
    @extend .grid-1
    width: 10%

  .grid-2
    float: left
    margin: 0 5%
    width: 45%

  .grid-2-small
    @extend .grid-2
    width: 70%

  .summary
    margin: 20px auto
    text-align: left