@media all and (min-width: 600px)
  body
    font-size: +em(18)

  .answer
    text-align: left

  .grid-headshot
    margin: 20px 5%
    width: 25%
    float: left

  .grid-headshot-small
    @extend .grid-headshot
    width: 10%

  .grid-summary
    float: left
    margin: 0 5%
    width: 55%

  .grid-summary-small
    @extend .grid-summary
    width: 70%

  .questions-results
    h4
      text-align: left

  .summary
    margin: 20px auto
    text-align: left