%nav.nav-sub
  %ul
    %li
      %a{href: "#executive-team"}Executive Team
    %li
      %a{href: "#operations"}Operations
    %li
      %a{href: "#client-services"}Client Services
    %li
      %a{href: "#design"}Design
    %li
      %a{href: "#strategy"}Strategy
    %li
      %a{href: "#technology"}Technology
.people-team
  %h2#executive-team
    Executive Team
  %ul.people
    %li#victor-cooper
      =partial("partials/victor-cooper")
    %li#jennifer-young
      =partial("partials/jennifer-young")
.people-team
  %h2#operations
    Operations
  %ul.people
    %li#jerry-gibson
      =partial("partials/jerry-gibson")
    %li#cheryl-walters
      =partial("partials/cheryl-walters")
    %li#angela-williams
      =partial("partials/angela-williams")
.people-team
  %h2#client-services
    Client Services
  %ul.people
    %li#amy-rivera
      =partial("partials/amy-rivera")
    %li#jason-edmonds
      =partial("partials/jason-edmonds")
    %li#ann-bryan
      =partial("partials/ann-bryan")
    %li#julie-kim
      =partial("partials/julie-kim")
    %li#tim-scott
      =partial("partials/tim-scott")
.people-team
  %h2#design
    Design
  %ul.people
    %li#mark-campbell
      =partial("partials/mark-campbell")
    %li#carrie-ross
      =partial("partials/carrie-ross")
    %li#matt-donahue
      =partial("partials/matt-donahue")
    %li#nicole-katz
      =partial("partials/nicole-katz")
    %li#tashia-hughes
      =partial("partials/tashia-hughes")
    %li#sharon-bradford
      =partial("partials/sharon-bradford")
    %li#zach-settles
      =partial("partials/zach-settles")
.people-team
  %h2#strategy
    Strategy
  %ul.people
    %li#josh-fiske
      =partial("partials/josh-fiske")
    %li#andrew-wong
      =partial("partials/andrew-wong")
    %li#lillie-mckenzie
      =partial("partials/lillie-mckenzie")
.people-team
  %h2#technology
    Technology
  %ul.people
    %li#scott-marsh
      =partial("partials/scott-marsh")
    %li#brian-jenks
      =partial("partials/brian-jenks")
    %li#charles-koga
      =partial("partials/charles-koga")
    %li#kurt-nightingale
      =partial("partials/kurt-nightingale")
    %li#jared-davis
      =partial("partials/jared-davis")