=partial("/partials/matt-donahue")
%ul.events
  %hr
  %li
    %h2#awards
      Awards
    %ul
      - data.mattdonahue.awards.each do |e|
        %li.event
          %h4
            =e.title
          %p
            =e.body
          .audit-info
            Created by
            =e.created_by
  %hr
  %li
    %h2#conversations
      Conversations
    %ul
      - data.mattdonahue.conversations.each do |e|
        %li.event
          %h4
            =e.title
          %p
            =e.body
          .audit-info
            Created by
            =e.created_by
  %hr
  %li
    %h2#one-on-ones
      One-On-Ones
    %ul
      - data.mattdonahue.one_on_ones.each do |e|
        %li.event
          %h4
            =e.title
          %p
            =e.body
          %ul
            - e.bullets.each do |b|
              %li
                =b
          .audit-info
            Created by
            =e.created_by
  %hr
  %li
    %h2#promotions
      Promotions
    %ul
      - data.mattdonahue.promotions.each do |e|
        %li.event
          %h4
            =e.title
          %p
            =e.body
          %ul
            - e.bullets.each do |b|
              %li
                =b
          .audit-info
            Created by
            =e.created_by
  %hr
  %li
    %h2#reviews
      Reviews
    %ul
      - data.mattdonahue.reviews.each do |e|
        %li.event
          %h4
            =e.title
          %h5
            Recommendation
          =e.recommendation
          %h5
            Doing well
          %ul
            - e.positives.each do |p|
              %li
                =p
          %h5
            Needs improvement
          %ul
            - e.negatives.each do |n|
              %li
                =n
          .audit-info
            Created by
            =e.created_by
  %hr
  %li
    %h2#salary
      Salary
    %ul
      - data.mattdonahue.salary_milestones.each do |e|
        %li.event
          %h4
            =e.title
          %p
            =e.body
          .audit-info
            Created by
            =e.created_by