%ol.questions-list#questions-list
  %li
    %a{href: "\##{data.question1.id}"}=data.question1.title
  %li
    %a{href: "#question-2"}Are there any policies at the company that aren't clear?
  %li
    %a{href: "#question-3"}Have you seen something recently and thought to yourself "I wish we'd done that"?
  %li
    %a{href: "#question-4"}Do you think we give you enough feedback on your performance?
  %li
    %a{href: "#question-5"}Do you think you work more than 40 hours a week?
  %li
    %a{href: "#question-6"}Do you wish you could be working on a different project right now?
  %li
    %a{href: "#question-7"}Do you think we spend too much time on something that just isn't worth it?
  %li
    %a{href: "#question-8"}Do you feel like three questions a week is too many?
  %li
    %a{href: "#question-9"}Have we been all talk and no action on something?
  %li
    %a{href: "#question-10"}Do you know what most of your coworkers are working on?
  %li
    %a{href: "#question-11"}Have you seen something great go unnoticed?
  %li
    %a{href: "#question-12"}As a company, do you think we're behind the curve on anything in particular?
  %li
    %a{href: "#question-13"}Do you feel rushed?
  %li
    %a{href: "#question-14"}Do you think the company is the right size?
  %li
    %a{href: "#question-15"}Have you been afraid to suggest an idea at work because you thought someone might shoot it down?
  %li
    %a{href: "#question-16"}If someone asked you to describe the vision of the company, would a clear answer immediately come to mind?
  %li
    %a{href: "#question-17"}Are there things you don't know about the company that you feel you should know?
%ul.questions-results
  / Question 1 done with partial and Yaml
  =partial("/partials/question-comments", :locals => {:yaml => data.question1})
  / ***************************************

  %hr
  %li
    %h2#question-2
      Are there any policies at the company that aren't clear?
    .questions-totals
      10 Yes. 3 No.
    %ul
      %li.answer
        .grid-headshot-small
          %img{alt: "Julie Kim", src: "images/julie-kim.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#julie-kim"}Julie Kim
          %p
            I've always wondered how we give back to the community, and if we have a matching program for charitable donations. As far as I know we don't have anything official, but I wasn't 100% sure. Some options we could consider:
          %ul
            %li
              Officially joining a group/cause we believe in. If we committed to attending events regularly, that might help give it a little structure. For example, I know a few of us work with
              %a{href: "http://www.pawschicago.org/", target: "_blank"}PAWS Chicago.
              Maybe some of us could volunteer regularly for their adoption events?
            %li
              Matching charitable contributions can make a big difference. A while back
              %a{href: "http://www.macrumors.com/2011/09/08/apple-institutes-new-charitable-matching-program-for-employees/", target: "_blank"}Apple announced a program where they would match up to $10k.
              for every employee, and they raised millions.
              Obviously we don't have to be at that scale, but every bit helps!
      %li.answer
        .grid-headshot-small
          %img{alt: "Tashia Hughes", src: "images/tashia-hughes.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#tashia-hughes"}Tashia Hughes
          %p
            Do we allow dogs in the office?
          %p
            I've never seen one, but there are so many animal lovers in the office this could be really cool! I know some people think they could be a distraction, but I've seen them at other offices and they really help bring people together!
          %p
            Take a look at this article - studies show lower levels of stress in the office!!!
          %p
            %a{href: "http://www.usatoday.com/story/money/business/2013/02/27/pets-reduce-stress-welcome-workplace/1951957/", target: "_blank"}More companies, citing benefits, allow pets at work
      %li.answer
        .grid-headshot-small
          %img{alt: "Zach Settles", src: "images/zach-settles.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#zach-settles"}Zach Settles
          %p
            Ummm...I'm asking for someone else. Do we have a drug testing policy?
      %li.answer
        .grid-headshot-small
          %img{alt: "Kurt Nightingale", src: "images/kurt-nightingale.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#kurt-nightingale"}Kurt Nightingale
          %p
            Many of our policies are unclear because they tend to be informal. So I think every group runs a little bit differently. That can cause confusion, or even resentment, between teams.
      %li.answer
        .grid-headshot-small
          %img{alt: "Sharon Bradford", src: "images/sharon-bradford.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#sharon-bradford"}Sharon Bradford
          %p
            Is there an official work from home/remote policy?
          %p
            I know we have some team members that aren't in the Chicago office, and people occassionally work remotely to attend to personal business. But do we have any formal policy that say when you can or can't work remotely?
          %p
            I think most us are pretty responsible, so I'd love if we allowed working remotely at any time without having to clear it with our managers first.
            %a{href: "http://37signals.com/remote", target: "_blank"}37signals is even writing a book
            about remote work. Could help us figure it out!
      %li.answer
        .grid-headshot-small
          %img{alt: "Mark Campbell", src: "images/mark-campbell.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#mark-campbell"}Mark Campbell
          %p
            All good.
      %li.answer
        .grid-headshot-small
          %img{alt: "Jared Davis", src: "images/jared-davis.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#jared-davis"}Jared Davis
          %p
            Quite the opposite. I love the fact that we don't have very many "official" policies, and that we take responsibility for ourselves. This is a huge, huge reason I wanted to work here. Please don't change it!
  %hr
  %li
    %h2#question-3
      Have you seen something recently and thought to yourself "I wish we'd done that"?
    .questions-totals
      4 Yes. 8 No.
    %ul
      %li.answer
        .grid-headshot-small
          %img{alt: "Brian Jenks", src: "images/brian-jenks.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#brian-jenks"}Brian Jenks
          %p
            There's a ton happening in front end development, especially for building mobile apps with HTML5. A lot people think that native apps are the only way, but I think we could show our clients that mobile web is a great option too.
          %p
            There are some companies doing killer things (like Google) on the web -- check out this incredible example:
          %p
            %a{href: "http://www.creativesandbox.com/guidebook", target: "_blank"}Google Guide Book
          %p
            You don't see a lot of agencies being thought leaders in the area. We could seriously be recognized as a leader if we started down this path.
      %li.answer
        .grid-headshot-small
          %img{alt: "Sharon Bradford", src: "images/sharon-bradford.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#sharon-bradford"}Sharon Bradford
          %p
            The University of Chicago is buiding some really interesting experiments to get more data on human interaction design. I'd love if we could build something that could help contribute to this.
          %p
            If we could carve out a bit of time between the design and tech teams, I bet we could figure out the kinds of data we want to track on sites and turn those into meaningful reports.
      %li.answer
        .grid-headshot-small
          %img{alt: "Mark Campbell", src: "images/mark-campbell.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#mark-campbell"}Mark Campbell
          %p
            There's a lot of cool things out there using full-screen video. I'd like to explore how we can make that happen technically.
      %li.answer
        .grid-headshot-small
          %img{alt: "Zach Settles", src: "images/zach-settles.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#zach-settles"}Zach Settles
          %p
            %a{href: "http://www.google.com/intl/en_us/chrome/devices/chromebook-pixel/", target: "_blank"}The Google Chromebook Pixel
            just came out, and it has both a regular trackpad and a touchscreen. It'd be interesting to see if we could build something in the Google universe (Maps mashup?) that explores the touch screen interface.
      %li.answer
        .grid-headshot-small
          %img{alt: "Jerry Gibson", src: "images/jerry-gibson.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#jerry-gibson"}Jerry Gibson
          %p
            Our success is built around being able to prioritize, so no, I think we're doing a great job of picking our battles.
          %p
            Obviously I'm an operations nerd, so my feeling is that we can't be everything to everyone. We have a lot of own our great ideas and I don't think we need to "chase the pack" to be recognized. Let's keep it up!
      %li.answer
        .grid-headshot-small
          %img{alt: "Matt Donahue", src: "images/matt-donahue.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "matt-donahue.html"}Matt Donahue
          %p
            I'm a fan of a lot of work that's out there, our's included. I think it can be dangerous to get sucked into what's cool and hot, and wishing we had been a part of it.
          %p
            I know for a fact many people look at the work we and say the same about our stuff. So let's look inward and be proud of what we've done and not worry too much about what else is out there!
  %hr
  %li
    %h2#question-4
      Do you think we give you enough feedback on your performance?
    .questions-totals
      15 Yes. 3 No.
    %ul
      %li.answer
        .grid-headshot-small
          %img{alt: "Tim Scott", src: "images/tim-scott.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#tim-scott"}Tim Scott
          %p
            It's pretty easy to tell if we're not doing great, because the clients let us know. :) And if we do mess up, the internal team is helpful in figuring out how to make it better.
      %li.answer
        .grid-headshot-small
          %img{alt: "Ann Bryan", src: "images/ann-bryan.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#ann-bryan"}Ann Bryan
          %p
            I know when our clients are happy and we're doing a good job. And if my projects are successful, I know I'm helping to lead that and doing a good job. And Jason and the rest of the team are great about cheering on our successes!
      %li.answer
        .grid-headshot-small
          %img{alt: "Nicole Katz", src: "images/nicole-katz.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#nicole-katz"}Nicole Katz
          %p
            Everyone has been super helpful with making my designs better. Thanks guys!!
      %li.answer
        .grid-headshot-small
          %img{alt: "Lillie McKenzie", src: "images/lillie-mckenzie.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#lillie-mckenzie"}Lillie McKenzie
          %p
            Definitely. I've seen my work improve dramatically thanks to the feedback from the team, especially from Josh. My skills and career are better off for being here.
          %p
            That said, it's all pretty informal. We do have our one-on-ones and we all regularly talk, but it might be good to do a few formal things, like:
          %ul
            %li
              Setting a couple small, intermediate goals. Ones that can be achieved in a month or two.
            %li
              Tracking those consistently. Is there a tool we can use to make sure we hit our mini-goals? Maybe Basecamp todos?
      %li.answer
        .grid-headshot-small
          %img{alt: "Tashia Hughes", src: "images/tashia-hughes.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#tashia-hughes"}Tashia Hughes
          %p
            One amazing thing I've noticed is that everyone in the company is a pretty great writer. So I don't feel like I have to pick the brains of just a few people. I can go to just about anyone to get feedback on my work and how my writing is progressing! Thanks team!!
      %li.answer
        .grid-headshot-small
          %img{alt: "Kurt Nightingale", src: "images/kurt-nightingale.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#kurt-nightingale"}Kurt Nightingale
          %p
            We're sort of left to do our own thing. I think that's actually a good thing most of the time, but sometimes a little structure would help.
          %p
            I also think on the tech side we tend to hear mostly negatives from the client. It's usually about something that's broken, which is understandable. But if there is any technical praise, it would be nice to hear!
      %li.answer
        .grid-headshot-small
          %img{alt: "Scott Marsh", src: "images/scott-marsh.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#scott-marsh"}Scott Marsh
          %p
            I try really hard to let my team know how they're doing. We do our best to keep our one-on-one meetings consistent.
          %p
            But I think managers are handled differently. I'd love to have a little more guidance from the executive team on how to improve. I think we could do this by:
          %ul
            %li
              Getting ahead of our busy schedules by setting times in advance and not letting client meetings trump our one-on-ones. Let's think of these internal meetings as more important than client meetings. I know that's easier said than done.
            %li
              Having a regular manager-level meeting where, as a group, we can share ideas.
      %li.answer
        .grid-headshot-small
          %img{alt: "Andrew Wong", src: "images/andrew-wong.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#andrew-wong"}Andrew Wong
          %p
            I know we're all very busy, but our one-on-ones tend to get canceled a lot. That's a bummer.
          %p
            I'm not looking for an opportunity to complain, but having a chance to have an in-depth chat is really helpful for me. Anything we can do to try and keep those discussions would be great.
  %hr
  %li
    %h2#question-5
      Do you think you work more than 40 hours a week?
    .questions-totals
      11 Yes. 9 No.
    %ul
      %li.answer
        .grid-headshot-small
          %img{alt: "Kurt Nightingale", src: "images/kurt-nightingale.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#kurt-nightingale"}Kurt Nightingale
          %p
            Unfortunately, yes, the dev team is pulling some pretty long weeks (60 or more hours). I hope we can correct this soon.
          %p
            Is there anything I can do to help alleviate some of this? Interview more? Read resumes?
      %li.answer
        .grid-headshot-small
          %img{alt: "Josh Fiske", src: "images/josh-fiske.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#josh-fiske"}Josh Fiske
          %p
            Yeah, but for me it's less about how many hours of work, and more about if I'm enjoying it. I probably work closer to 50 hours a week, but I'm honestly having a blast so it's not a huge deal for me.
      %li.answer
        .grid-headshot-small
          %img{alt: "Carrie Ross", src: "images/carrie-ross.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#carrie-ross"}Carrie Ross
          %p
            It goes in peaks and valleys. But there have been an awful lot of peaks lately, especially with the new biz wins. Seems like we should have more resources available with all this new work coming in?
          %p
            Specifically I think the tech team is shorthanded. I don't want to speak for them, but they're doing a great job keeping up but I don't know how much longer they can sustain this workload.
          %p
            I'm a little concerned because in the long run it could prevent us from doing some really amazing things. The design team has a bunch of ideas we want to pursue, but we may not be able to pull them off if the tech team is shorthanded. We need their amazing brains to be fresh to do some of this crazy stuff!
          %p
            The cascading effect might be that in the long run our work is good, but not great. And I know we all want to do the best work of our careers. But we need all the teams balanced so there's a harmony among the teams.
          %p
            Sorry for the long rant! Hope that made sense.
      %li.answer
        .grid-headshot-small
          %img{alt: "Mark Campbell", src: "images/mark-campbell.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#mark-campbell"}Mark Campbell
          %p
            I can do 40 in my sleep.
      %li.answer
        .grid-headshot-small
          %img{alt: "Nicole Katz", src: "images/nicole-katz.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#nicole-katz"}Nicole Katz
          %p
            I do, but from what I hear it's pretty normal in agencies and consulting firms.
          %p
            By the way, who ever decided 40 hours was the magic number?? When I was in college, there was no cap to our classes and homework time!!
      %li.answer
        .grid-headshot-small
          %img{alt: "Jared Davis", src: "images/jared-davis.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#jared-davis"}Jared Davis
          %p
            I probably work closer to 50 hours a week, but honestly, I don't even notice or mind it.
          %p
            When you're doing great work in a fun environment (both the people and the technology), it makes the time fly. Love working with you guys!
      %li.answer
        .grid-headshot-small
          %img{alt: "Zach Settles", src: "images/zach-settles.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#zach-settles"}Zach Settles
          %p
            Yes, but not by much.
          %p
            45 hours a week feels right to me. That's a 9 hour day, 8 am to 6 pm with an hour lunch. Plus, let's be honest - how many of us work every minute of every day? :P
      %li.answer
        .grid-headshot-small
          %img{alt: "Matt Donahue", src: "images/matt-donahue.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "matt-donahue.html"}Matt Donahue
          %p
            I try to stick to a 40 hour week because I think pushing too far past that actually negatively impacts my work. I know opinions vary on this and some people work better powering through.
          %p
            I think it's a personal preference and you need to know what works for you. And most importantly, we should all be open and respectful to different work styles.
      %li.answer
        .grid-headshot-small
          %img{alt: "Julie Kim", src: "images/julie-kim.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#julie-kim"}Julie Kim
          %p
            Because of my schedule with my kids, I really try to stick to 40 hours. I hope you guys don't hate me for that! I try to make the most of my working hours so that I can get home at a decent hour.
  %hr
  %li
    %h2#question-6
      Do you wish you could be working on a different project right now?
    .questions-totals
      6 Yes. 17 No.
    %ul

      %li.answer
        .grid-headshot-small
          %img{alt: "Amy Rivera", src: "images/amy-rivera.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#amy-rivera"}Amy Rivera
          %p
            I know it's difficult to switch accounts around since ADs need to provide continuity across projects. But it would be really great if Jason and I could maybe transition a couple accounts together.
          %p
            I think this is not only good for us, but also for the client. The risk/fear is that we'd drop the ball during a transition as well as the relationship that's been built up over time.
          %p
            But I think we could also sell the benefits of switching once in a while, like:
          %ul
            %li
              A new AD brings a new energy to the team, and in particular, new ideas. Each person has different experience, and having new thinking is always a good thing.
            %li
              We take our relationships seriously, and we're such a small company, none of that will be ever be lost. Jason and I sit 5 feet away from each other. We can always help each other over time.
            %li
              We have different skillsets. Jason is more strategic, but I'm more technical. That could really help extend some of the upcoming work in a new direction.
      %li.answer
        .grid-headshot-small
          %img{alt: "Angela Williams", src: "images/angela-williams.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#angela-williams"}Angela Williams
          %p
            Hey guys - I'd love to help out on some copywriting if there are any opportunities. You guys do great work and I'd love to be a part of it!
      %li.answer
        .grid-headshot-small
          %img{alt: "Sharon Bradford", src: "images/sharon-bradford.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#sharon-bradford"}Sharon Bradford
          %p
            I personally have been on the same client for about a year. There have been a variety of projects and they've all been great and interesting. But it would be nice to spread my wings a bit. :)
          %p
            The irony is, of course, that if you do good work and you have a vocal client, they want to keep you on the team! There's no getting around this, but I think we should try to build a system that addresses this with clients, because it happens often.
          %p
            I also think it would be great if managers could proactively, officially manage this. In other words, if Mark saw that I was on the same client for 6 months that he'd be alerted to it so he could at least check in and see if I was still cool with that. Not sure if a tool like that exists, but it'd be great to be reminded!
      %li.answer
        .grid-headshot-small
          %img{alt: "Julie Kim", src: "images/julie-kim.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#julie-kim"}Julie Kim
          %p
            I've got a great internal team and a great client, and am seriously learning so much. So I'd vote the opposite...keep me on this project for a while!
      %li.answer
        .grid-headshot-small
          %img{alt: "Tashia Hughes", src: "images/tashia-hughes.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#tashia-hughes"}Tashia Hughes
          %p
            No way!!! We're about to launch the site and I want to see this through and celebrate with the team!!!
          %p
            Plus, being the only dedicated copywriter, I kind of work on all the projects already anyway. You guys are stuck with me whether you like it or not! :P
      %li.answer
        .grid-headshot-small
          %img{alt: "Kurt Nightingale", src: "images/kurt-nightingale.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#kurt-nightingale"}Kurt Nightingale
          %p
            Since the dev team is fairly small, I think we get plenty of variety. In fact, we may have the opposite problem - it might be a good thing if we could focus on just 1 or 2 clients!
      %li.answer
        .grid-headshot-small
          %img{alt: "Matt Donahue", src: "images/matt-donahue.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "matt-donahue.html"}Matt Donahue
          %p
            I think being a small company is a huge benefit in this department. Yes there are a few folks who have to stick on a particular project or client as needed, but most of us float around to different projects as needed.
          %p
            The longest I've been on a project has been about 6 months, and even that was an exception, not a rule. I think we do a good job of keeping variety up for most of us.
  %hr
  %li
    %h2#question-7
      Do you think we spend too much time on something that just isn't worth it?
    .questions-totals
      4 Yes. 9 No.
    %ul
      %li.answer
        .grid-headshot-small
          %img{alt: "Kurt Nightingale", src: "images/kurt-nightingale.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#kurt-nightingale"}Kurt Nightingale
          %p
            In general, I feel like our projects give a lot of time to strategy, UX, and design, but short development. So I guess I think we spend too much time on those phases, and not enough in dev.
          %p
            Is there a way where we could shorten those other phases, or give it equal balance to dev?
      %li.answer
        .grid-headshot-small
          %img{alt: "Brian Jenks", src: "images/brian-jenks.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#brian-jenks"}Brian Jenks
          %p
            I know I sound like a broken record, but I think we spend too much time designing home pages. I realize it's what clients focus on, but anything we can do to help "train" clients that there are hundreds of other pages on the site would really help us out in the long run, I think.
      %li.answer
        .grid-headshot-small
          %img{alt: "Zach Settles", src: "images/zach-settles.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#zach-settles"}Zach Settles
          %p
            Timesheets, my God, the timesheets. Look, I know we have to do them for accounting or something, but I really wonder if it's worth how much time we spend managing them.
      %li.answer
        .grid-headshot-small
          %img{alt: "Mark Campbell", src: "images/mark-campbell.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#mark-campbell"}Mark Campbell
          %p
            Seems to be working well.
      %li.answer
        .grid-headshot-small
          %img{alt: "Jared Davis", src: "images/jared-davis.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#jared-davis"}Jared Davis
          %p
            No company does it perfectly, so overall I think we spend our time well. Dev feels rushed sometimes, but believe me, I've been in way more disfunctional places. Our process works well.
  %hr
  %li
    %h2#question-8
      Do you feel like three questions a week is too many?
    .questions-totals
      3 Yes. 11 No.
    %ul
      %li.answer
        .grid-headshot-small
          %img{alt: "Andrew Wong", src: "images/andrew-wong.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#andrew-wong"}Andrew Wong
          %p
            Three's a bit much. I think one, maybe two would be good. It's not that it's hard or takes that much time, but I think if we reduced the questions to just one, you may get more (and richer) comments.
          %p
            I think with three questions, you may get more just yes/no answers and less people eloborating on their thoughts.
          %p
            Plus, you don't know what the question later in the week is going to be. I'd be asking myself, "which one do I want to invest time in?" Maybe if I knew all the questions at the beginning of the week?
          %p
            Plus, I wonder if this is too much information for a manager to take action on. Having just one thing to analyze and address a week is a big task. Three sounds monumental.
          %p
            Not complaining -- I actually like answering these. But just trying to think about what most of us need to do that's "overhead" (questions, timesheets, expense reports, etc.) and keeping it as low friction as possible for everyone.
      %li.answer
        .grid-headshot-small
          %img{alt: "Jason Edmonds", src: "images/jason-edmonds.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#jason-edmonds"}Jason Edmonds
          %p
            I think as long as we keep them yes/no questions with optional comments, it's not a big deal at all.
      %li.answer
        .grid-headshot-small
          %img{alt: "Tashia Hughes", src: "images/tashia-hughes.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#tashia-hughes"}Tashia Hughes
          %p
            No way! It takes like 5 seconds to respond, and you're not required to leave a comment.
          %p
            I think it's fascinating to see this stuff on the record. A lot of us talk about this stuff when we're out of the office, so it's great to see things being so transparently discussed!
  %hr
  %li
    %h2#question-9
      Have we been all talk and no action on something?
    .questions-totals
      10 Yes. 5 No.
    %ul
      %li.answer
        .grid-headshot-small
          %img{alt: "Kurt Nightingale", src: "images/kurt-nightingale.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#kurt-nightingale"}Kurt Nightingale
          %p
            I think we could better serve our clients if we picked a couple technology platforms to really focus in on and build a team around those.
          %p
            In many of our pitches, we say we're experts in a lot of platforms and languages. That's partially true because many concepts are the same, but it's also very, very hard to execute consistently.
          %p
            Overall if we had a little more focus on our technology choices, I think we could really be more honest and effective with our clients.
      %li.answer
        .grid-headshot-small
          %img{alt: "Carrie Ross", src: "images/carrie-ross.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#carrie-ross"}Carrie Ross
          %p
            I think that selling work when we we're already over capacity, and assuming we'll figure out how to staff it later is really dangerous.
          %p
            In the past we didn't really do that. But with the recent win for us in Austin, they're expecting a local team. We knew we didn't have anyone down there yet but we signed the contract anyway.
          %p
            Is this a wise thing to do? I think one of our strongest values is honesty, and I want to make sure we do whatever we can to protect that!
      %li.answer
        .grid-headshot-small
          %img{alt: "Tim Scott", src: "images/tim-scott.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#tim-scott"}Tim Scott
          %p
            We heard from one of our clients that our response time in addressing bugs was a little slow.
          %p
            So we installed a support contract with them to be able to turn things around faster and provide some structure to the process.
          %p
            Unfortunately, our ability to make fixes hasn't gotten any faster. I don't think we've actually staffed up for it, so now I feel like our client is paying more for the same level of service.
          %p
            I'd love to find a way to help staff up so we can be fair with the commitments we've made and keep our clients happy.
      %li.answer
        .grid-headshot-small
          %img{alt: "Zach Settles", src: "images/zach-settles.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#zach-settles"}Zach Settles
          %p
            We publicly announced that we were going to start an internship program here at the company to help the Chicago community's talent pool.
          %p
            As far as I know that hasn't happened. I'm just tired of getting my own coffee and taking notes. :P
          %p
            But in all seriousness, I think sometimes we get so excited about an idea that we can't help but bring it up. But maybe it would be good if we slow down and take more of an Apple approach -- don't announce ahead of time!
      %li.answer
        .grid-headshot-small
          %img{alt: "Sharon Bradford", src: "images/sharon-bradford.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#sharon-bradford"}Sharon Bradford
          %p
            We talk a lot about strategy and user experience with our clients (quite confidently, I might add) and do a lot of work up front to support this. It's the foundation for our design and development.
          %p
            But after we launch, we don't really validate our strategy and measure if what we did worked. We build a really great, visually stunning site, but I don't think any of us are quite sure if it's actually making our clients and their customers happier.
          %p
            I think there are a few things we could do to improve in this area:
          %ul
            %li
              Make sure we are thinking about analytics and data collection up front, and make sure we insist (even at our own cost) that they be implemented so we can measure.
            %li
              Make sure our strategic choices are backed in data, if possible. We should ask for as much data about their current sites so that we can baseline our future measurements.
            %li
              Scope for time/money post-launch to make sure we do the proper analysis and wrap up to validate (or maybe even invalidate) our strategic thinking. This will be valuable for not only our clients, but for our own post-mortems.
      %li.answer
        .grid-headshot-small
          %img{alt: "Charles Koga", src: "images/charles-koga.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#charles-koga"}Charles Koga
          %p
            We talk to our clients a lot about how much we value the quality of our work. But we currently don't have a dedicated QA team. This seems a bit counterintuitive?
      %li.answer
        .grid-headshot-small
          %img{alt: "Josh Fiske", src: "images/josh-fiske.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#josh-fiske"}Josh Fiske
          %p
            In general I feel like the important stuff is taken care of. I hear everything you guys are saying, I really do.
          %p
            In my experience, this is a very tricky business. It's very hard to make everyone happy, and we have to make hard decisions to take care of the company, sell work, balance the books, etc.
          %p
            In the end, we as a leadership team try to make the choices that best balance hundreds of factors. Hopefully we're doing right by you guys, your families, and our clients. We are definitely trying our best.
      %li.answer
        .grid-headshot-small
          %img{alt: "Nicole Katz", src: "images/nicole-katz.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#nicole-katz"}Nicole Katz
          %p
            It's pretty amazing, but almost always people here do what they say and don't let you down. You guys are awesome!!!
      %li.answer
        .grid-headshot-small
          %img{alt: "Victor Cooper", src: "images/victor-cooper.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#victor-cooper"}Victor Cooper
          %p
            Thanks everyone. I'm literally in a room right now with the leadership team working on these. Thank you for your honesty and your commitment to our clients and our company!
  %hr
  %li
    %h2#question-10
      Do you know what most of your coworkers are working on?
    .questions-totals
      5 Yes. 11 No.
    %ul
      %li.answer
        .grid-headshot-small
          %img{alt: "Jerry Gibson", src: "images/jerry-gibson.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#jerry-gibson"}Jerry Gibson
          %p
            Yes, but I'm probably in a unique position in operations. If anybody ever wants more visibility into this, we can probably send out a weekly report for everyone. Let me know!
      %li.answer
        .grid-headshot-small
          %img{alt: "Ann Bryan", src: "images/ann-bryan.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#ann-bryan"}Ann Bryan
          %p
            Not officially, but we're a small enough crew that working together I think we all have a sense of what everyone is doing. That lets us find ways to help each other out.
      %li.answer
        .grid-headshot-small
          %img{alt: "Sharon Bradford", src: "images/sharon-bradford.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#sharon-bradford"}Sharon Bradford
          %p
            It'd be great if we had a dashboard somewhere that we could all see this. We have so many projects going on at once, it's hard to keep it all in your head, especially for our remote team members.
          %p
            I've heard of other companies running a web based dashboard with a visual of what everyone is working on. Not a spreadsheet or report, but a visual where you can quickly tell what's going on.
          %p
            I would love to work on something like this. We might even be able to make this a product and sell it to our clients.
          %p
            Now I'm all excited about this. If anybody wants to work on this idea, email me!
      %li.answer
        .grid-headshot-small
          %img{alt: "Tashia Hughes", src: "images/tashia-hughes.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#tashia-hughes"}Tashia Hughes
          %p
            Not really, but I'm not sure it really matters?? We all pretty much hang out socially so we tend to hear what's going on, but I don't think we need any official channels for this!
      %li.answer
        .grid-headshot-small
          %img{alt: "Kurt Nightingale", src: "images/kurt-nightingale.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#kurt-nightingale"}Kurt Nightingale
          %p
            Not really. We're heads down coding most of the day, and it's hard to keep up with what everyone's doing.
      %li.answer
        .grid-headshot-small
          %img{alt: "Lillie McKenzie", src: "images/lillie-mckenzie.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#lillie-mckenzie"}Lillie McKenzie
          %p
            I think it'd be great to know what everyone is working on. I know we're all busy, but it could be helpful to see if two people are working on similar things. We might be able to collaborate across projects and make the work better together.
          %p
            It might be as easy as purchasing some service that does project tracking dashboards? You'd think something like this exists already, right?
  %hr
  %li
    %h2#question-11
      Have you seen something great go unnoticed?
    .questions-totals
      4 Yes. 6 No.
    %ul
      %li.answer
        .grid-headshot-small
          %img{alt: "Scott Marsh", src: "images/scott-marsh.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#scott-marsh"}Scott Marsh
          %p
            We're doing some really great things technically that many people may not realize.
          %ul
            %li
              We've had 99.99% uptime on our client websites. In the tech world, that's pretty amazing.
            %li
              We launched our first iOS app for a client, and it's getting rave reviews on the App Store. That's obviously getting noticed, but I think we could promote this stronger in our new biz pitches.
            %li
              We've built and open-sourced some web frameworks that the dev community has been receptive to. We've also actively contributed to the
              %a{href: "https://github.com/rails/rails", target: "_blank"}Rails core.
              It's a little nerdy, but the developer commmunity really appreciates this stuff.
      %li.answer
        .grid-headshot-small
          %img{alt: "Andrew Wong", src: "images/andrew-wong.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#andrew-wong"}Andrew Wong
          %p
            I think we do a pretty good job of noticing our work and giving regonition internally. But I think we could celebrate our accomplishments more to the public and to our clients, which could really help drive more business.
      %li.answer
        .grid-headshot-small
          %img{alt: "Josh Fiske", src: "images/josh-fiske.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#josh-fiske"}Josh Fiske
          %p
            I think it depends on your definition of going unnoticed -- by whom?
          %p
            Internally, I think we do a commendable job of recognizing our work in pretty much every group. We have a talent pool second to none and it shows in our work. We have parties for launches, reward those that have gone above and beyond, and generally celebrate our work.
          %p
            Externally, I think we could probably do better and be more active. Some ideas:
          %ul
            %li
              We have some killer work and a decent amount of Twitter followers, but I'm not sure we leverage that channel enough. We could promote harder there.
            %li
              I bet if we really pushed hard we could be in the top 10 headlines on Adweek. Don't we have some friends on their editorial staff?
            %li
              Let's contact Apple about our recent iOS app launch and see what we can do to promote it even more.
            %li
              Let's cross promote with our partners. We know our partners are important to our work and business. Can we promote their wins and vice versa?
      %li.answer
        .grid-headshot-small
          %img{alt: "Matt Donahue", src: "images/matt-donahue.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "matt-donahue.html"}Matt Donahue
          %p
            I think we're doing a great job communicating launches via email. We are also doing a good job of recognizing people individually, and the teams during quarterly meetings. Can't really ask for more than that!
  %hr
  %li
    %h2#question-12
      As a company, do you think we're behind the curve on anything in particular?
    .questions-totals
      4 Yes. 10 No.
    %ul
      %li.answer
        .grid-headshot-small
          %img{alt: "Brian Jenks", src: "images/brian-jenks.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#brian-jenks"}Brian Jenks
          %p
            While we work on a lot of desktop-friendly sites, I think we could really take advantage of the explosion in mobile apps. Some ideas:
          %ul
            %li
              Every phone has geolocation abilities now. There's all sorts of interesting things we could do for our clients if we know where their customers are.
            %li
              %a{href: "http://en.wikipedia.org/wiki/Responsive_web_design", target: "_blank"}Responsive web design
              is really taking off. We could build a site once and have it work on any device!
            %li
              HTML5 lets us store data within the browser. A lot of times we don't even need a back end to keep some data and really improve the user experience. This simplifies and speeds up development and could be really cool to try.
      %li.answer
        .grid-headshot-small
          %img{alt: "Sharon Bradford", src: "images/sharon-bradford.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#sharon-bradford"}Sharon Bradford
          %p
            We tend to rely on our intuition a lot, which generally works OK. But I think we have some opportunities to use data to our advantage. That will give us proof on whether our campaigns are working, and give us great statistics for case studies too.
          %p
            Imagine if we could pinpoint when our campaigns launched, and saw a measurable impact to site traffic. Even better -- what if we could tie sales and revenue back to our campaigns. Right now we kind of guess at this. But advancement in analytics platforms makes all of this very possible.
          %p
            There's a long term effect here too. If we can tie back data to those events and show success, it makes our new biz pitches that much easier. We can literally say, "Look, our campaign directly resulted in a 25% increase in sales." That's powerful.
      %li.answer
        .grid-headshot-small
          %img{alt: "Julie Kim", src: "images/julie-kim.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#julie-kim"}Julie Kim
          %p
            I think we can do more for our community. I think we all love working here and have stable, happy jobs so I don't want to rock the boat. But I think if we could be more active in the community and with charitable organizations, that would be awesome. Philanthropy is great PR too.
      %li.answer
        .grid-headshot-small
          %img{alt: "Andrew Wong", src: "images/andrew-wong.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#andrew-wong"}Andrew Wong
          %p
            I think we might be a little behind when it comes to working remotely. Obviously those of us in New York are sort of remote relative to Chicago, but we still tend to come into the office a lot.
          %p
            It depends on the individual, but I work great in my PJs, with music blaring, and sitting next to my dog. There are studies that show that people who work from home are more productive.
          %p
            All that time we spend commuting back and forth to the office is rough. We could really use that time to get caught up on work!
      %li.answer
      %li.answer
        .grid-headshot-small
          %img{alt: "Lillie McKenzie", src: "images/lillie-mckenzie.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#lillie-mckenzie"}Lillie McKenzie
          %p
            In fact, I think we're quite progressive, especially in gender equality. Last time I counted, we have 14 men and 11 women in the company. Nobody expects a perfect balance, but I think we're doing a commendable job of keeping equality a priority within the company at all levels and teams.
  %hr
  %li
    %h2#question-13
      Do you feel rushed?
    .questions-totals
      16 Yes. 4 No.
    %ul
      %li.answer
        .grid-headshot-small
          %img{alt: "Brian Jenks", src: "images/brian-jenks.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#brian-jenks"}Brian Jenks
          %p
            Yeah, and it's tough. I feel like there aren't enough hours in the day. I think there are a couple reasons for this:
          %ul
            %li
              We tend to have a lot of meetings. I know they're needed. But for developers these breaks in the day are really disruptive. We tend to work better when we have bigger stretches of uninterrupted time. Kind of hard to explain.
            %li
              Clients make a lot of changes. Not sure there's much we can do about this. But even if we plan out our day, much of it can get shuffled around. I don't have any problem making adjustments, but it does add to the rush some.
      %li.answer
        .grid-headshot-small
          %img{alt: "Kurt Nightingale", src: "images/kurt-nightingale.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#kurt-nightingale"}Kurt Nightingale
          %p
            I think the dev timelines are a little short. If there's any way we can make the dev timelines a little longer when we're making our project schedules (even a week), that would be a huge help.
          %p
            Also, if there's a way to stagger launches from a client services perspective, that would be HUGE. When we have multiple launches in one week (or even one day!), our hair starts to fall out.
      %li.answer
        .grid-headshot-small
          %img{alt: "Ann Bryan", src: "images/ann-bryan.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#ann-bryan"}Ann Bryan
          %p
            Right or wrong, our clients are pretty demanding. We are constantly being asked to shave time off our schedules, even though that does them a disservice. I wish we could show them somehow that we build our schedules with their best intentions in mind!
          %p
            We're also doing our best to not have too many projects run on the same timelines. Staggering deliverables is something we need to keep an eye on.
          %p
            Not sure if it's possible, but if the leadership team could help us manage this with clients, that'd be a huge help. We don't have to tell them our internal reasons, but if we can "convince" them to push a week here, a week there, it could make a big difference to the quality of our work!
      %li.answer
        .grid-headshot-small
          %img{alt: "Jason Edmonds", src: "images/jason-edmonds.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#jason-edmonds"}Jason Edmonds
          %p
            I do feel rushed, but it's hard not to in a client focused business. In fact, a lot of times the clients are the ones making you feel rushed. "Can you get this to us by end of day?"
          %p
            That said, it's up to us to manage those expectations. I don't know if there's ever really an occasion where a 4 hour turnaround is reasonable. If we start to set that expectation early on with our clients, I think it helps in the long run.
      %li.answer
        .grid-headshot-small
          %img{alt: "Amy Rivera", src: "images/amy-rivera.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#amy-rivera"}Amy Rivera
          %p
            Yes, but it's a client business. All agencies have less time than they want to run a project. The constraints are sometimes a good thing.
      %li.answer
        .grid-headshot-small
          %img{alt: "Tim Scott", src: "images/tim-scott.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#tim-scott"}Tim Scott
          %p
            Yes, but I think is largely on our team (client services) to manage this as best as we can. Even though our job is to take care of clients, sometimes the best way to take care of them is to not rush work.
          %p
            I think we can also do better at managing their expectations around changes. What seems like a small change can affect a lot of things they don't see, which can add to the general sense of being rushed.
      %li.answer
        .grid-headshot-small
          %img{alt: "Charles Koga", src: "images/charles-koga.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#charles-koga"}Charles Koga
          %p
            I think if we had less meetings, I wouldn't feel so rushed.
      %li.answer
        .grid-headshot-small
          %img{alt: "Angela Williams", src: "images/angela-williams.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#angela-williams"}Angela Williams
          %p
            Not always, but sometimes I don't know if a client is coming into the office until the last minute. So it can be tough to get the rooms setup with the right stuff (snacks, drinks, whiteboards, etc.) Anything we can do to plan that out better would be really helpful!
      %li.answer
        .grid-headshot-small
          %img{alt: "Julie Kim", src: "images/julie-kim.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#julie-kim"}Julie Kim
          %p
            I feel rushed, but not always. I have a schedule that's a little more fixed than some folks, so I do my best to really get every last bit out of my time at the office.
      %li.answer
        .grid-headshot-small
          %img{alt: "Mark Campbell", src: "images/mark-campbell.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#mark-campbell"}Mark Campbell
          %p
            Better than most agencies.
      %li.answer
        .grid-headshot-small
          %img{alt: "Victor Cooper", src: "images/victor-cooper.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#victor-cooper"}Victor Cooper
          %p
            Thanks guys for your responses. We're going to tackle this as a high priority. You can't do your best work if so many of you feel rushed.
    %hr
  %li
    %h2#question-14
      Do you think the company is the right size?
    .questions-totals
      10 Yes. 8 No.
    %ul
      %li.answer
        .grid-headshot-small
          %img{alt: "Jared Davis", src: "images/jared-davis.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#jared-davis"}Jared Davis
          %p
            I know we're all working a lot, but I think it's important that we think about how great it is to work for a small company. If we doubled in size next week (which I bet we could do), we'd lose a lot of our spirit I think.
      %li.answer
        .grid-headshot-small
          %img{alt: "Sharon Bradford", src: "images/sharon-bradford.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#sharon-bradford"}Sharon Bradford
          %p
            Being small lets us be nimble and make decisions quicker. Even though being bigger might mean a little less work, I think we'd be spending more time getting consensus than doing great work.
          %p
            The counter argument is that with more people, it might free up some of us to do more thinking and less doing. That could really pay off in thought leadership, and really catapult our work to be more innovative.
          %p
            Now I'm not sure about my answer!
      %li.answer
        .grid-headshot-small
          %img{alt: "Josh Fiske", src: "images/josh-fiske.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#josh-fiske"}Josh Fiske
          %p
            Right now I think we're just about the right size. I know we're all pretty busy, but overall it feels balanced.
          %p
            If anything, I think we might be at a tipping point where if we add 5-10 people, we might be getting a bit big. There's a certain overhead that comes with more people. Sometimes that means more managers.
          %p
            It also means we need to sustain a sales pace. We're on a bit of a hot streak right now, but nobody can predict how long we can keep it up. The work definitely tends to be seasonal.
          %p
            It's more expensive in the short run, but we may be better off sticking with more freelancers until we see how the year's financials play out.
      %li.answer
        .grid-headshot-small
          %img{alt: "Nicole Katz", src: "images/nicole-katz.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#nicole-katz"}Nicole Katz
          %p
            I really like that I know everyone so well. Please don't add 100 people!
      %li.answer
        .grid-headshot-small
          %img{alt: "Carrie Ross", src: "images/carrie-ross.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#carrie-ross"}Carrie Ross
          %p
            We've won a lot of projects lately, but our team size hasn't grown. So it seems like we're expected to do more work with the same people. And I haven't heard anything about hiring more people?
      %li.answer
        .grid-headshot-small
          %img{alt: "Kurt Nightingale", src: "images/kurt-nightingale.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#kurt-nightingale"}Kurt Nightingale
          %p
            We've lost a couple team members and haven't had a chance to replace them. If I'm being honest, we could really use some help!
      %li.answer
        .grid-headshot-small
          %img{alt: "Jason Edmonds", src: "images/jason-edmonds.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#jason-edmonds"}Jason Edmonds
          %p
            I don't want to use this as a platform for hiring, but client services is really buried of late. Without people to run the projects, I'm afraid we might hurt ourselves by doing shaky work.
  %hr
  %li
    %h2#question-15
      Have you been afraid to suggest an idea at work because you thought someone might shoot it down?
    .questions-totals
      4 Yes. 12 No.
    %ul
      %li.answer
        .grid-headshot-small
          %img{alt: "Brian Jenks", src: "images/brian-jenks.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#brian-jenks"}Brian Jenks
          %p
            I think we all feel free to contribute. But sometimes I feel like the dev team doesn't have equal footing with some other teams, so I may bite my tongue from time to time.
          %p
            I genuinely appreciate the ideas that everyone has, but sometimes I wish dev ideas carried a little more weight.
      %li.answer
        .grid-headshot-small
          %img{alt: "Tashia Hughes", src: "images/tashia-hughes.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#tashia-hughes"}Tashia Hughes
          %p
            I'd be surprised if anyone was. Every meeting I've ever been in has been super collaborative, and we all have our own ideas. Your's might not win out, but nobody should be afraid to give out their ideas. Heck, one time I got my dog's picture into some client work!!
      %li.answer
        .grid-headshot-small
          %img{alt: "Victor Cooper", src: "images/victor-cooper.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#victor-cooper"}Victor Cooper
          %p
            Collaboration is absolutely essential to what we do. I hope that everyone...and I really mean that...everyone feels comfortable sharing your ideas.
          %p
            If this isn't the case, please email me directly. I want to hear more about it.
    %hr
  %li
    %h2#question-16
      If someone asked you to describe the vision of the company, would a clear answer immediately come to mind?
    .questions-totals
      5 Yes. 20 No.
    %ul
      %li.answer
        .grid-headshot-small
          %img{alt: "Andrew Wong", src: "images/andrew-wong.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#andrew-wong"}Andrew Wong
          %p
            Isn't it just "build awesome stuff and have fun"?
      %li.answer
        .grid-headshot-small
          %img{alt: "Tashia Hughes", src: "images/tashia-hughes.jpg"}
        .grid-summary-small
          %h4
            Yes:
            %a{href: "index.html#tashia-hughes"}Tashia Hughes
          %p
            I know it, but probably because I helped write it!! :P
          %p
            If you were wondering, this is it:
          %p
            %em
              We want to make people happy. We do this by being honest and building the best products we can. If our clients, people, and families are happy, then we've succeeded.
      %li.answer
        .grid-headshot-small
          %img{alt: "Matt Donahue", src: "images/matt-donahue.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "matt-donahue.html"}Matt Donahue
          %p
            No, but does it matter? When I think about company vision, it feels very corporate. I may not know our exact line, but I know it's about doing great work and doing it honestly. That's what matters!
      %li.answer
        .grid-headshot-small
          %img{alt: "Mark Campbell", src: "images/mark-campbell.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#mark-campbell"}Mark Campbell
          %p
            I should probably know this, right?
      %li.answer
        .grid-headshot-small
          %img{alt: "Ann Bryan", src: "images/ann-bryan.jpg"}
        .grid-summary-small
          %h4
            No:
            %a{href: "index.html#ann-bryan"}Ann Bryan
          %p
            No, but it really doesn't affect how we work or what we do. I think we all inherently get it, though we may never have to say it out loud.
    %hr
    %li
      %h2#question-17
        Are there things you don't know about the company that you feel you should know?
      .questions-totals
        6 Yes. 10 No.
      %ul
        %li.answer
          .grid-headshot-small
            %img{alt: "Carrie Ross", src: "images/carrie-ross.jpg"}
          .grid-summary-small
            %h4
              Yes:
              %a{href: "index.html#carrie-ross"}Carrie Ross
            %p
              I'd love to have more insight about when we decide to hire. Maybe that means more transparency into our financials so we have the whole picture?
        %li.answer
          .grid-headshot-small
            %img{alt: "Tim Scott", src: "images/tim-scott.jpg"}
          .grid-summary-small
            %h4
              Yes:
              %a{href: "index.html#tim-scott"}Tim Scott
            %p
              Financials. Not every last detail of how much money everyone is taking home, but are we making a good profit? How does that translate to our salaries and bonuses? We're a small company, I'd like to have a better sense of this.
        %li.answer
          .grid-headshot-small
            %img{alt: "Lillie McKenzie", src: "images/lillie-mckenzie.jpg"}
          .grid-summary-small
            %h4
              Yes:
              %a{href: "index.html#lillie-mckenzie"}Lillie McKenzie
            %p
              I'd like more insight into how we do our planning. I think transparency here would help us all pull in the same direction. For example:
            %ul
              %li
                What are the company's priorities for the next 6 months?
              %li
                Whare are our measures for success? Is it just revenue, or do we have other objective and subjective measures?
              %li
                Who does all the planning? Can non-management folks be involved, given our size?
              %li
                Do we ever publish our priorities, as a company, so we can all help to track to them?
        %li.answer
          .grid-headshot-small
            %img{alt: "Matt Donahue", src: "images/matt-donahue.jpg"}
          .grid-summary-small
            %h4
              No:
              %a{href: "matt-donahue.html"}Matt Donahue
            %p
              I think the leadership team has been quite transparent, within reason. Maybe I'm being a little corporate, but I think we need to believe in and trust the leadership to make the right decisions so we can focus on delivery.
        %li.answer
          .grid-headshot-small
            %img{alt: "Zach Settles", src: "images/zach-settles.jpg"}
          .grid-summary-small
            %h4
              No:
              %a{href: "index.html#zach-settles"}Zach Settles
            %p
              I just like to do good work and focus on that. I appreciate the big picture, but try not to concern myself with it too much unless it's going to affect me or my friends here.
            %p
              Honestly, I think a weekly email or update on what's going on above my pay grade would probably do the trick and keep us all on the same page.
        %li.answer
          .grid-headshot-small
            %img{alt: "Josh Fiske", src: "images/josh-fiske.jpg"}
          .grid-summary-small
            %h4
              No:
              %a{href: "index.html#josh-fiske"}Josh Fiske
            %p
              I think we do a pretty good job of keeping everyone posted on what's going on. Sure it's not every last detail, but we will always be honest with everyone. This company is built on honesty.